{% extends 'base.html.twig' %}

{% block title %}Hello PickUpFixingController!{% endblock %}

{% block body %}
<div class="container">
<h3><i class="fa fa-laptop" aria-hidden="true"></i> Test du matériel</h3>
<br>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.start, {
                    label_attr: {
                    class: 'radio-inline'
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.os, {
                    label_attr: {
                    class: 'radio-inline'
                    }
                }) }}
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.damage) }}</label>
                    {{ form_widget(form.damage) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.problem) }}</label>
                    {{ form_widget(form.problem) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                {{ form_row(form.services) }}
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.materials, {
                    label_attr: {
                    class: 'checkbox-inline'
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.paid, {
                    label_attr: {
                    class: 'radio-inline'
                    }
                }) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.envoyer) }}
            </div>
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
