{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingActionController!{% endblock %}

{% block body %}
<div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
    {% set number = 1 %}
    <h3>{{ name }}</h3>
    {% for element in elements %}
        <div id="{{ 'js-element-' ~ number }}">
            {% if element.type == 'checkbox' %}
                <p>
                    {{ element.name }} :
                    <button class="js-button-checkbox" id="{{ element.name }}">Terminé</button>
                </p>
            {% elseif element.type == 'number' %}
                <p>
                    {{ element.name }} :
                    <input type="number"></input>
                    <button class="js-button-input" id="{{ element.name }}">Terminé</button>
                </p>
            {% elseif element.type == 'text' %}
                <p>
                    {{ element.name }} :
                    <input type="text"></input> 
                    <button class="js-button-input" id="{{ element.name }}">Terminé</button>
                </p>
            {% elseif element.type == 'boolean' %}
                <p>
                    {{ element.name }} :
                    <input type="radio" name="{{ element.name }}" value="Oui">Oui</input> 
                    <input type="radio" name="{{ element.name }}" value="Non">Non</input> 
                    <button class="js-button-radio" id="{{ element.name }}">Terminé</button>
                </p>
            {% endif %}
        </div>
        {% set number = number + 1 %}
    {% endfor %}

    <div class="js-procedure-id" data-procedure-id="{{ procedureId }}"></div>

    <script>
        function saveAction(elementId, value, name) {
            let json = JSON.stringify({"procedureGroupNumber" : null, "procedureNumber" : procedureId, "actionNumber" : elementId, "value" : value, "name" : name});
            let url = "save-action";
            let xml = new XMLHttpRequest();
            xml.open("POST", url);
            xml.setRequestHeader("ContentType", "application/json");
            xml.send(json);
        }

        function doButtonCheckbox() {
            saveAction(this.parentElement.parentElement.id.substr(11), 'OK', this.id);
            this.parentElement.parentElement.remove();
        }

        function doButtonInput() {
            if (this.previousElementSibling.value == "") {
                alert('Le champ ne peut pas être vide');
                return;
            } else {
                saveAction(this.parentElement.parentElement.id.substr(11), this.previousElementSibling.value, this.id);
                this.parentElement.parentElement.remove();
            }
        }

        function doButtonRadio() {
            if (this.previousElementSibling.checked == false && this.previousElementSibling.previousElementSibling.checked == false) {
                alert('Aucune réponse sélectionnée');
                return;
            }
            if (this.previousElementSibling.checked ==true)
                saveAction(this.parentElement.parentElement.id.substr(11), this.previousElementSibling.value, this.id);
            else
                saveAction(this.parentElement.parentElement.id.substr(11), this.previousElementSibling.previousElementSibling.value, this.id);
            this.parentElement.parentElement.remove();
        }

        let buttonCheckbox = document.querySelectorAll('.js-button-checkbox');
        buttonCheckbox.forEach(button => {
            button.addEventListener('click', doButtonCheckbox);
        });

        let buttonInput = document.querySelectorAll('.js-button-input');
        buttonInput.forEach(button => {
            button.addEventListener('click', doButtonInput);
        });

        let buttonRadio = document.querySelectorAll('.js-button-radio');
        buttonRadio.forEach(button => {
            button.addEventListener('click', doButtonRadio);
        });

        let procedureId = document.querySelector('.js-procedure-id').dataset.procedureId;
        let actions = {{ actions|json_encode }}

        for(let i = 0; i < actions.length; i++) {
            document.querySelector('#js-element-'+actions[i]).remove();
        }
    </script>
{% endblock %}
