{% extends 'base.html.twig' %}

{% block title %}Hello PickUpClientFormController!{% endblock %}

{% block body %}

<div class="container">
<h1>Informations personnelles</h1>
<br>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.lastname) }}</label>
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.firstname) }}</label>
                    {{ form_widget(form.firstname) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.postcode) }}</label>
                    {{ form_widget(form.postcode) }}
                </div>
                <div class="search-container hide" id="js-postcode" style="background-color:white;border: solid #cb0c9f;border-radius: 10px;padding: 5px;margin-left: 13px;margin-top: -10px;">
                    <ul class="list-group" id="js-list-postcode" style="line-height: 1.0;">
                        <li class="list-group-item list-group-item-action hide" id="js-template-li-postcode">
                            <div class="d-flex flex-column">
                                <span class="text-capitalize"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.city) }}</label>
                    {{ form_widget(form.city) }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>{{ form_label(form.address) }}</label>
                    {{ form_widget(form.address) }}
                </div>
                <div class="search-container hide" style="background-color:white;border: solid #cb0c9f;border-radius: 10px;padding: 5px;margin-left: 13px;margin-top: -10px;">
                    <ul class="list-group" id="js-list-address" style="line-height: 1.0;">
                        <li class="list-group-item list-group-item-action hide" id="js-template-li-address">
                            <div class="d-flex flex-column">
                                <span class="text-capitalize"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.mail) }}</label>
                    {{ form_widget(form.mail) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>{{ form_label(form.phone) }}</label>
                    {{ form_widget(form.phone) }}
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.newsletter, {
                    label_attr: {
                    class: 'radio-inline'
                    }
                }) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.allow_data_storage, {
                    label_attr: {
                    class: 'radio-inline'
                    }
                }) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.envoyer) }}
            </div>
        </div>
        {{ form_end(form) }}
</div>

    <script>
    function hideUl() {
        ulAddress.parentElement.className = "search-container hide";
        ulPostcode.parentElement.className = "search-container hide";
    }

    function selectAddress() {
            value = this.firstElementChild.firstElementChild.innerHTML.split(', ');
            document.getElementById('client_address').value = value[0];
            document.getElementById('client_city').value = value[1];
            document.getElementById('client_postcode').value = value[2];
            document.getElementById('client_phone').focus();
        }

        function selectPostcode() {
            value = this.firstElementChild.firstElementChild.innerHTML.split(', ');
            document.getElementById('client_postcode').value = value[0];
            document.getElementById('client_city').value = value[1];
            document.getElementById('client_address').focus();
        }

        function displayResultPostcode(data) {
            while (ulPostcode.childElementCount > 1) {
                ulPostcode.removeChild(ulPostcode.lastElementChild);
            }
            data.forEach(element => {
                let li = document.getElementById("js-template-li-postcode").cloneNode(true);
                li.className = "list-group-item border-0 d-flex mb-2 bg-gray-200 border-radius-lg pointer js-div-postcode";
                li.firstElementChild.firstElementChild.innerHTML = element;
                ulPostcode.appendChild(li);
            });
            divs = document.querySelectorAll('.js-div-postcode');
            divs.forEach(div => {
                div.addEventListener('click', selectPostcode);
            });
        }

        function displayResultAddress(data) {
            while (ulAddress.childElementCount > 1) {
                ulAddress.removeChild(ulAddress.lastElementChild);
            }
            data.forEach(element => {
                let li = document.getElementById("js-template-li-address").cloneNode(true);
                li.className = "list-group-item border-0 d-flex mb-2 bg-gray-200 border-radius-lg pointer js-div-address";
                li.firstElementChild.firstElementChild.innerHTML = element;
                ulAddress.appendChild(li);
            });
            divsAddress = document.querySelectorAll('.js-div-address');
            divsAddress.forEach(div => {
                div.addEventListener('click', selectAddress);
            });
        }

        function searchCityAndPostcode(){
            if (this.value == "" || this.value.length < 5) {
                this.parentElement.nextElementSibling.className = "search-container hide";
                return;
            }
            this.parentElement.nextElementSibling.className = "search-container col-md-5";
            let data = JSON.stringify({'data' : this.value});
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function() {
                let xml = new XMLHttpRequest();
                xml.open("POST", window.location.origin + '/postcode');
                xml.setRequestHeader("ContentType", "application/json");
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        result = JSON.parse(xml.response);
                        displayResultPostcode(result.data);
                    }
                }
                xml.send(data);

            }, 650);
        }

        function searchAdress(){
            if (this.value == "") {
                this.parentElement.nextElementSibling.className = "search-container hide";
                return;
            }
            this.parentElement.nextElementSibling.className = "search-container";
            let data = JSON.stringify({'data' : this.value, 'city' : document.getElementById('client_city').value});
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function() {
                let xml = new XMLHttpRequest();
                xml.open("POST", window.location.origin + '/address');
                xml.setRequestHeader("ContentType", "application/json");
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        result = JSON.parse(xml.response);
                        displayResultAddress(result.data);
                    }
                }
                xml.send(data);
            }, 650);
        }

        let delayTimer;

        let inputPostcode = document.getElementById("client_postcode");
        inputPostcode.addEventListener('keyup', searchCityAndPostcode);
        inputPostcode.addEventListener('focusin', hideUl);
        let inputAddress = document.getElementById("client_address");
        inputAddress.addEventListener('keyup', searchAdress);
        inputAddress.addEventListener('focusin', hideUl);

        let ulPostcode = document.getElementById("js-list-postcode");
        let ulAddress = document.getElementById("js-list-address");
        let divs;
        let divsAddress;

        document.getElementById("client_mail").addEventListener('focusin', hideUl);
        document.getElementById("client_phone").addEventListener('focusin', hideUl);
        document.getElementById("client_city").addEventListener('focusin', hideUl);
    </script>
{% endblock %}
