{% extends 'base.html.twig' %}

{% block title %}Hello PickUpEmployeeController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Type de prise en charge :<h1>
        <div class="d-none d-md-block" style="margin-top:150px !important">
        </div>

        <div class="row">
            
            <div class="col-md-6">
                <a href="{{ path("pick_up_client", {'id' : employee.id}) }}"> <!-- Lien vers page suivante -->
                    <div class="card-header text-center p-5 mb-5 shadow-lg bg-body rounded w-200 img border-radius-lg move-on-hover"> <!-- carte avec ses proprietés -->
                        <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-lg" style="height:100px !important;width:100px !important"> <!-- cadre violet -->
                            <i class="fa fa-plus" aria-hidden="true" style="margin-top:15px !important"></i> <!-- icone -->
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3"> <!-- ligne entre icone et texte -->
                            <h6 class="text-center mb-0 text-uppercase text-truncate">Créer un nouveau dépannage</h6> <!-- nom carte -->
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-md-6">
                <a href="{{ path("pick_up_warantly", {'id' : employee.id}) }}"> <!-- Lien vers page suivante -->
                    <div class="card-header text-center p-5 mb-5 shadow-lg bg-body rounded w-200 img border-radius-lg move-on-hover"> <!-- carte avec ses proprietés -->
                        <div class="icon icon-shape bg-gradient-dark shadow text-center border-radius-lg" style="height:100px !important;width:100px !important"> <!-- cadre violet -->
                            <i class="fa fa-level-down" aria-hidden="true" style="margin-top:15px !important"></i> <!-- icone -->
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3"> <!-- ligne entre icone et texte -->
                            <h6 class="text-center mb-0 text-uppercase text-truncate">Dépannage sous garantie</h6> <!-- nom carte -->
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>

   
{% endblock %}