{% extends 'base.html.twig' %}

{% block title %}Hello PickUpEmployeeController!{% endblock %}

{% block body %}
<div class="container"> <!--conteneur pour cartes -->
<h1>Choix du technicien</h1>
<br>
    <div class="row">

    {% for employee in employees %} <!-- boucle pour carte employee--> 

        
        {% if employee.email != "pick_up_user@microfun.fr" %} <!-- condition si nom de famille différent de user -->
        <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
            <a href="{{ path('pick_up_choice', {'id': employee.id}) }}"> <!-- lien vers page suivante -->
        <div class="card-header text-center shadow-lg p-3 mb-5 bg-body rounded img border-radius-lg move-on-hover">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <div class="card-body pt-0 p-3 text-center">
                <hr class="horizontal dark my-3">
                <h6 class="text-center mb-0 text-uppercase">{{ employee.lastname }} {{ employee.firstname }}</h6>
            </div>
        </div>
        </a>
        </div>
        {% endif %}

    {% endfor %} <!--Fin boucle carte employee -->
    </div>
</div>
{% endblock %}
