{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

  
    <div class="container"> <!-- conteneur pour les cartes -->
        <h1><i class="fa fa-home" aria-hidden="true"></i> Accueil</h1> <!-- titre avec icone -->
        <div class="row">
            <!-- cartes -->
            <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
                <a href="{{ path('pick_up_employee') }}"> <!-- Lien vers page suivante -->
                    <div class="card-header text-center p-3 mb-5 shadow-lg bg-body rounded w-100 img border-radius-lg move-on-hover"> <!-- carte avec ses proprietés -->
                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg"> <!-- cadre violet -->
                            <i class="fa fa-user-md" aria-hidden="true"></i> <!-- icone -->
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3"> <!-- ligne entre icone et texte -->
                            <h6 class="text-center mb-0 text-uppercase text-truncate">Prise en charge</h6> <!-- nom carte -->
                        </div>
                    </div>
                </a>
            </div>
            <!-- fin de la carte -->
            <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
                <a href="{{ path('fix') }}">
                    <div class="card-header text-center p-3 mb-5 shadow-lg bg-body rounded w-100 img border-radius-lg move-on-hover">
                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3">
                            <h6 class="text-center mb-0 text-uppercase">Dépannage</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
                <a href="{{ path('fix_finish_fixing') }}">
                    <div class="card-header text-center p-3 mb-5 shadow-lg bg-body rounded w-100 img border-radius-lg move-on-hover">
                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                            <i class="fa fa-barcode" aria-hidden="true"></i>
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3">
                            <h6 class="text-center mb-0 text-uppercase text-truncate">Terminer dépannage</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
                <a href="{{ path('app_display') }}"> <!--REVOIR LIEN-->
                    <div class="card-header text-center p-3 mb-5 shadow-lg bg-body rounded w-100 img border-radius-lg move-on-hover">
                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3">
                            <h6 class="text-center mb-0 text-uppercase text-truncate">Affichage</h6>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-6"  style="margin-top:15px !important">
                <a href="{{ path('app_backoffice') }}">
                    <div class="card-header text-center p-3 mb-5 shadow-lg bg-body rounded w-100 img border-radius-lg move-on-hover">
                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                        </div>
                        <div class="card-body pt-0 p-3 text-center">
                            <hr class="horizontal dark my-3">
                            <h6 class="text-center mb-0 text-uppercase">Backoffice</h6>
                        </div>
                    </div>
                </a>
            </div>

        </div>    
    </div>
    



   <!-- <a href="{{ path('pick_up_employee') }}">Prise en charge</a> -->
   <!-- <a href="{{ path('fix') }}">Dépannage</a> -->
   <!-- <a href="{{ path('app_backoffice') }}">Backoffice</a> -->
{% endblock %}
