{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingServiceController!{% endblock %}

{% block body %}

    <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
    <div class="container">

        {% for message in app.flashes('finish_success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('finish_warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}    {% for message in app.flashes('finish_error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <h3 style="margin-top:10px">Prévenir le client</h3>

        <div class="row" style="margin-top:10px">
            {# div info client #}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header pb-2 p-3 bg-gray-200">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Information client</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 height-300">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 pt-0 text-md"><strong class="text-dark">Nom complet :</strong> &nbsp; {{ fixing.computer.client.lastname|upper }} {{ fixing.computer.client.firstname|upper }} </li>
                            <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Adresse :</strong> &nbsp; {{ fixing.computer.client.address }}</li>
                            <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Ville :</strong> &nbsp; {{ fixing.computer.client.postCode }}, {{ fixing.computer.client.city }}</li>
                            {% set splitArray = fixing.computer.client.phone|split('', 2) %}
                            {% set formattedString = splitArray|join(' ') %}
                            <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Téléphone:</strong> &nbsp; {{ formattedString }}</li>
                            {% if  fixing.computer.client.mail != NULL %}
                                <li class="list-group-item border-0 ps-0 text-md"><strong class="text-dark">Email:</strong> &nbsp; {{ fixing.computer.client.mail }}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {# End div info client #}

            {# div forfait #}
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header pb-2 p-3 bg-gray-200">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Forfaits</h6>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <span class="text-truncate">Total : 
                                    <span class="text-primary text-bold">
                                        {% set Total = 0 %}
                                        {% for service in fixing.services %}
                                            {% set Total = Total + service.price %}
                                        {% endfor %}
                                        {% for order in fixing.orders %}
                                            {% set Total = Total + order.price %}
                                        {% endfor %}
                                        {{Total}} €
                                    </span> 
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 height-300" style="overflow-y: scroll;">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Déscriptif</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Prix</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for service in fixing.services %}
                                    <tr>
                                    <td class="align-middle text-center">
                                        <div class="row">
                                        <div class="col-4">
                                            <p class="text-center text-bold text-primary">{{ '*' ~ service.type ~ service.number}}</p>
                                        </div>
                                        <div class="col-8">
                                            <p class="text-center text-truncate" title="démontage trape">{{ service.name }}</p>
                                        </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-center text-bold text-primary text-truncate">{{ service.price }} €</p>
                                    </td>
                                    </tr>
                                {% endfor %}
                                {% for order in fixing.orders %}
                                    <tr>
                                    <td class="align-middle text-center">
                                        <div class="row">
                                        <div class="col-4">
                                            <p class="text-center text-bold text-warning"><i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i></p>
                                        </div>
                                        <div class="col-8">
                                            <p class="text-center text-truncate" title="{{ order.description }}">{{ order.description }}</p>
                                        </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <p class="text-center text-bold text-warning text-truncate">{{ order.price }} €</p>
                                    </td>
                                    </tr> 
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End div forfait #}

        {# div from #}
        <div class="col-md-6" style="margin-top: 25px !important;">
            <div class="card">
                <div class="card-header pb-2 p-3" style="background-color: #82d61645 !important;">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Bilan</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3 height-300">
                    <form method="POST" action="{{ path("fix_fixing_finish_status", {'id' : fixing.id }) }}">
                        <div class="form-group">
                            <label for="bilan" class="form-control-label">Bilan</label>
                            <textarea class="form-control" aria-label="With textarea" id="bilan" name="bilan" required style="width: 100%; height: 110px;"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="order" class="form-control-label">Numéro de bon de commande</label>
                            <input class="form-control" type="text" id="order" name="orderNumber" required style="width: 100%;">
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="alertPhone" checked="">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Prévenir par SMS </label>
                        </div>


                        <button type="submit" class="btn bg-gradient-primary">Envoyer</button>
                    </form>

                </div>
            </div>
        </div>
        {# End div form #}

    </div>
{% endblock %}
