{% extends 'base.html.twig' %}

{% block title %}Hello PickUpComputerController!{% endblock %}

{% block body %}
<div class="container">
    <h3 class="text-uppercase">Client sélectionné : {{ client.lastname }} {{ client.firstname }}</h3>
    <br>
    <h3>Sélectionner le PC :</h3>
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-4"  style="margin-top:10px">
            <div class="card shadow-lg">
                <a href="{{ path('pick_up_computer_add', {'id': employee.id, 'clientId': client.id}) }}"> <!-- Lien vers page suivante -->
                    <div class="card-body p-7 img border-radius-lg img border-radius-lg text-center height-300">
                        <div class="icon icon-shape icon-lg bg-gradient-success shadow text-center border-radius-lg"> <!-- cadre couleur -->
                            <i class="fa fa-plus" aria-hidden="true"></i> <!-- icone -->
                        </div>
                        <hr class="horizontal dark my-3"> <!-- ligne entre icone et texte -->
                        <h6 class="text-center mb-0 text-uppercase">Ajouter un appareil</h6> <!-- nom carte -->      
                    </div>
                </a>
            </div>
        </div>

        {% for computer in computers %}
            <div class="col-md-6 col-lg-4"  style="margin-top:10px">
                <div class="card shadow-lg">
                    {% if fixings != null %}
                        {% for fixing in fixings %}
                            {% if fixing.computer.id == computer.id %}
                                {% if fixing.warantly == true %}
                                    <div class="shadow-sm warantyBox">
                                        <i class="warantyI fa fa-exclamation-triangle " aria-hidden="true"></i>
                                        <p class="warantyP">Garantie</p>
                                    </div>
                                {% else %}
                                    <div class="shadow-sm fixingBox">
                                        <i class="fixingI fa fa-wrench" aria-hidden="true"></i>
                                        <p class="fixingP">Atelier</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <div class="card-body p-3 img border-radius-lg img border-radius-lg height-300 opacity">
                    {% else %}
                        <div class="card-body p-3 img border-radius-lg img border-radius-lg height-300">
                    {% endif %}
                        <div class="row">
                            <div class="d-flex flex-column">
                            
                                <div class="row text-truncate">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 d-flex">
                                            <div class="d-flex flex-column">
                                                <span class="text-gradient text-primary text-uppercase  font-weight-bold my-2">{{ computer.type }}</span>
                                            </div>   
                                            <div class="ms-auto text-end">
                                                <a class="btn btn-link text-dark text-gradient px-3 mb-0" href="javascript:;"><i class="fa fa-archive" aria-hidden="true"></i></a>
                                                <a class="btn btn-link text-info px-3 mb-0" href="{{ path('pick_up_computer_edit', {'id': employee.id, 'clientId': client.id, 'computerId': computer.id}) }}"><i class="fa fa-pencil me-2" aria-hidden="true"></i>Edit</a>
                                                <a class="btn btn-link text-danger text-gradient px-3 mb-0" id="{{ 'remove' ~ computer.id }}" onclick="removeComputer({{ 'remove' ~ computer.id }})"><i class="fa fa-trash me-2" aria-hidden="true"></i>Suppr</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {# {% if computer.fixing != null %}
                                    <div class="row" style="margin-top:15px !important">                                
                                {% else %} #}
                                    <div class="row js-card-clic " id="{{ path('pick_up_fixing', {'id': employee.id, 'clientId': client.id, 'computerId': computer.id}) }}" style="margin-top:15px !important">
                                {# {% endif %} #}
                                    <div class="col-4 text-center p-2">
                                        <div class="bg-gradient-primary border-radius-lg">
                                            <img class="w-100 position-relative z-index-2 removeComputer" src="{{ asset('build/illustrations/' ~ computer.type ~ '.png') }}" alt="{{ computer.type }}">
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="row p-1">
                                            <div class="author align-items-center">  
                                                <div class="name ps-3 text-truncate">
                                                    <span>{{ computer.brand }}</span>
                                                    <span>{{ computer.model }}</span>
                                                    <div class="row">
                                                        <small class="text-primary">
                                                            {% if computer.password == NULL %}
                                                                <i class="fa fa-unlock-alt" aria-hidden="true"></i> 
                                                            {% else %}
                                                                <i class="fa fa-lock" aria-hidden="true"></i> {{computer.password}}
                                                            {% endif %}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="author align-items-center">
                                                <div class="name ps-3 text-truncate">
                                                    <div class="stats">
                                                        <small>{{ computer.date|date("d/m/Y") }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="author align-items-center">
                                                <div class="name ps-3 text-truncate">
                                                    <div class="stats">
                                                        <a class="text-success" href="{{ path('pick_up_account_add', {'id': employee.id, 'clientId': client.id, 'computerId' : computer.id}) }}"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"> Compte logiciel</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="text-center">
                                {% set i = 0 %}
                                {% for account in computer.accounts %} 
                                    {% set i = i + 1  %}
                                {% endfor %}
                                <button type="button" class="btn bg-gradient-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{computer.id}}">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i> Logiciel {{ i }}
                                </button>
                            </div> 
                        </div>

                        <!-- Button trigger modal -->
                        
                                  
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{computer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title" id="exampleModalLabel">{{ i }} Compte logiciel</h5>
                        </div>
                        <div class="modal-body">
                            {% for account in computer.accounts %}
                                <div class="row">
                                    <li class="list-group-item border-0 d-flex justify-content-between p-3 mb-2 border-radius-lg"  id="{{ 'computerAccount' ~ computer.id }}">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ account.label }}</h6>
                                            <span class="text-xs">{{ account.login }}</span>
                                        </div>
                                        <div class="col-sm-7 text-end">
                                            <a href="{{ path('pick_up_account_edit', {'id': employee.id, 'clientId': client.id, 'computerId': computer.id, 'accountId' : account.id}) }}"><i class="fa fa-pencil-square-o fa-lg text-info" aria-hidden="true"></i></a> <!--modifier compte-->
                                            <a id="{{ 'delete' ~ account.id }}" class="removeAccount"><i class="fa fa-trash-o fa-lg text-danger" aria-hidden="true"></i></a><!--supprimer compte-->
                                        </div>
                                    </li>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
        
    </div>
</div>



    <script>
        function removeComputer(node) {
            let computerId = node.id;
            if (confirm("Etes vous sur de vouloir supprimer ?")) {
                let xml = new XMLHttpRequest();
                xml.open("GET", 'computer/remove/'+computerId.substr(6));
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        alert("computer supprimée correctement");
                        window.location.reload();
                    }
                }
                xml.send();
            }
        }
        function removeAccount() {
            let accountId = this.id;
            if (confirm("Etes vous sur de vouloir supprimer ?")) {
                let xml = new XMLHttpRequest();
                xml.open("GET", this.parentElement.parentElement.id.substr(15) + "/account/remove/" + accountId.substr(6));
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        alert("Compte supprimée correctement");
                        window.location.reload();
                    }
                }
                xml.send();
            }
        }

        function moveToDashboard(){
            window.location.pathname =  this.id;
        }

        let removeAccountButtons = document.querySelectorAll('.removeAccount');
        removeAccountButtons.forEach(button => {
            button.addEventListener('click', removeAccount);
        });

        let selected = document.querySelectorAll('.js-card-clic');
        selected.forEach( div => { 
            div.addEventListener('click', moveToDashboard );
        });

    </script>
{% endblock %}
