{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeMaterialController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for material in materials %}
                <p>{{material.name}} <a href="{{ path('backoffice_material_edit', {'id' :  material.id}) }}">Modifier</a></p>
                <button type="button" id="{{ 'remove' ~ material.id }}" class="removeMaterial">Supprimer</button>
            {% endfor %}
            <a href="{{ path('backoffice_material_add') }}">Ajouter</a>
            <br>
            <br>
            <a href="{{ path('app_backoffice') }}">Retour backoffice</a>
        </main>

        <script>
            function removeMaterial() {
                let materialId = this.id;
                if (confirm("Etes vous sur de vouloir supprimer ?")) {
                    let xml = new XMLHttpRequest();
                    xml.open("GET", "material/remove/"+materialId.substr(6));
                    xml.onreadystatechange = function() {
                        if(xml.readyState == 4 && xml.status == 200) {
                            alert("Matériel supprimé correctement");
                            window.location.reload();
                        }
                    }
                    xml.send();
                }
            }

            let materials  = document.querySelectorAll('.removeMaterial');
            materials.forEach(material => {
            material.addEventListener('click', removeMaterial);
            });
        </script>
    </body>
{% endblock %}
