{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeClientController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for client in clients %}
                <h3>{{ client.lastname }} {{ client.firstname }}</h3>
                <a href="{{ path("backoffice_client_edit", {'id' : client.id}) }}">Modifier</a>
                <button id="{{ 'remove' ~ client.id }}" class="removeClient">Supprimer</button>
                <br>
            {% endfor %}
        </main>
        <script>
            function removeClient() {
                let clientId = this.id;
                if (confirm("Etes vous sur de vouloir supprimer ?")) {
                    let xml = new XMLHttpRequest();
                    xml.open("GET", "client/remove/"+clientId.substr(6));
                    xml.onreadystatechange = function() {
                        if(xml.readyState == 4 && xml.status == 200) {
                            alert("Client supprimé correctement");
                            window.location.reload();
                        }
                        if(xml.readyState == 4 && xml.status == 405) {
                            alert("Client non supprimé, dépannage en cours sur un PC");
                        }
                    }
                    xml.send();
                }
            }

            let clients  = document.querySelectorAll('.removeClient');
            clients.forEach(client => {
            client.addEventListener('click', removeClient);
            });
        </script>
    </body>
{% endblock %}
