{% extends 'base.html.twig' %}

{% block title %}Hello PickUpComputerFormController!{% endblock %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label>{{ form_label(form.brand) }}</label>
        {{ form_widget(form.brand) }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>{{ form_label(form.model) }}</label>
        {{ form_widget(form.model) }}
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>{{ form_label(form.password) }}</label>
        {{ form_widget(form.password) }}
      </div>
    </div>
    <div class="col-md-12">
        {{ form_row(form.type, {
            label_attr: {
            class: 'radio-inline'
            }
        }) }}
    </div>
    <div class="col-md-12">
        {{ form_widget(form.envoyer) }}
    </div>
  </div>
  {{ form_end(form) }}
</div>
{% endblock %}
