{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingOrderController!{% endblock %}

{% block body %}
<div class="container">
    <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
    <h1>Pièce à commander</h1>
    {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.description) }}</label>
                {{ form_widget(form.description) }}
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.price) }}</label>
                {{ form_widget(form.price) }}
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.eshop) }}</label>
                {{ form_widget(form.eshop) }}
           </div>
        </div>
        <div class="col-md-12">
            {{ form_widget(form.envoyer) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
