{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeListProcedureController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for procedure in procedures %}
                <p>{{procedure.name}} <a href="{{ path('backoffice_procedure_edit', {'id' :  procedure.id}) }}">Modifier</a></p>
                <button type="button" id="{{ 'delete' ~ procedure.id }}" class="deleteProcedure">Supprimer</button>
            {% endfor %}
            <a href="{{ path('backoffice_procedure_add') }}">Ajouter</a>
            <br>
            <br>
            <a href="{{ path('app_backoffice') }}">Retour backoffice</a>
        </main>
        {% block javascripts %}{{ encore_entry_script_tags('procedure') }}{% endblock %}
    </body>    
{% endblock %}
