{% extends 'base.html.twig' %}

{% block title %}Hello PickUpWarantlyController!{% endblock %}

{% block body %}
{% for message in app.flashes('warantly_pickup_success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <div class="container">
        <div class="input-group" style="margin-top:10px">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input id="searchbar" onfocus="searchClients()" autofocus  onkeyup="searchClients()" type="text" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon1">
        </div>
    </div>

    <form action="{{ path('pick_up_warantly', {'id' : employee.id}) }}" method="POST">
        <div class="container">
            <div class="row">
                {% for fixing in fixings %}
                    <div class="col-md-4 p-2 js-element" id="{{'js-status-' ~ fixing.status|replace({' ': ''}) }}">
                        <label>
                            <input type="radio" class="card-input-element" name="fixing" value="{{ fixing.id }}" required>
                                <div class="card shadow-lg card-input" id="{{ 'js-fixing-' ~ fixing.id }}">
                                    <div class="card-body p-3 pointer">
                                        <div class="row">
                                            <div class="d-flex flex-column h-100">
                                                <div class="row text-truncate">
                                                    <div class="col-5">
                                                        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ fixing.computer.type }}</span>
                                                    </div>
                                                    <div class="col-7 text-end">
                                                            <span class="badge badge-sm bg-gradient-success">{{ fixing.status}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 text-center p-2">
                                                        <div class="bg-gradient-primary border-radius-lg d-none d-md-block">
                                                            <img class="w-100 position-relative z-index-2" src="{{ asset('build/illustrations/' ~ fixing.computer.type ~ '.png') }}" alt="{{ fixing.computer.type }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row p-1">
                                                            <div class="author align-items-center">
                                                                <img src="{{ asset('build/logos/team.png') }}" alt="logo teams" class="avatar shadow">
                                                                <div class="name ps-3 text-truncate">
                                                                    <span id="js-search">{{ fixing.computer.client.lastname }} {{ fixing.computer.client.firstname }}</span>
                                                                    <div class="stats">
                                                                        <small>{{ fixing.endDateTime|date("d/m/Y") }}</small>
                                                                    </div>
                                                                    <div class="stats">
                                                                        <small>{{ fixing.id }}</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row p-1">
                                                            <div class="author align-items-center">
                                                                <img src="{{ asset('build/logos/list.png') }}" alt="list" class="avatar shadow">
                                                                <div class="name ps-3 text-truncate">
                                                                    <span>{{ fixing.computer.brand }} {{ fixing.computer.model }}</span>
                                                                    <div class="row">
                                                                        <small>{{ fixing.creationEmployee.lastname }} {{ fixing.creationEmployee.firstname }}</small>
                                                                        <small>dernier tech</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </input>
                        </label>
                    </div>
                {% endfor %}
                </div>
            </div>
            
            <div class="container">
            <div class="card">
                <div class="card-body p-3">
                    <label for="reason">Quelle est la raison du retour ?</label><br>
                    <input type="text" id="reason" name="reason" required>
                    <br>
                    <label for="start">Le PC démarre-t-il ?</label><br>
                    <input type="radio" id="oui" name="start" value="true" required>
                    <label for="oui">Oui</label>
                    <input type="radio" id="non" name="start" value="false" required>
                    <label for="non">Non</label><br>
                    <label for="os">L'os démarre-t-il ?</label><br>
                    <input type="radio" id="oui" name="os" value="true" required>
                    <label for="oui">Oui</label>
                    <input type="radio" id="non" name="os" value="false" required>
                    <label for="non">Non</label><br>
                    <br>
                    <button type="submit" class="btn bg-gradient-primary">Envoyer</button>
                </div>
            </div>
            </div>
                
        </div>
    </form>

    <script>

    let element = document.querySelectorAll('.js-element');
    let search = document.querySelectorAll('#js-search');

    function searchClients() {
        let input = document.getElementById('searchbar').value
        console.log(input);
        input = input.toLowerCase();
        
        for (i = 0; i < search.length; i++) { 
            //console.log(search[i].innerHTML);
            if (!search[i].innerHTML.toLowerCase().includes(input)) {
                element[i].style.display="none";
            }
            else {
                element[i].style.display="block";                 
            }
        }
    } 

    </script>
{% endblock %}
