{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeModifyProcedureController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            <h3>Modification de la procédure {{ procedure.name }}</h3>
            <label for="procedureName">Entrer le nom de la procédure</label>
            <input type="text" id="procedureName" value="{{ procedure.name }}">
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom</th>    
                    </tr>
                </thead>
                <tbody id="procedureElement">
                    {% for element in procedure.elements %}
                    <tr class="element">
                        <td>
                            <select>
                                <option value="checkbox" {% if element[0] == "checkbox" %}
                                    selected
                                {% endif %}>Case à cocher</option>
                                <option value="number" {% if element[0] == "number" %}
                                    selected
                                {% endif %}>Saisie d'un nombre</option>
                                <option value="text" {% if element[0] == "text" %}
                                    selected
                                {% endif %}>Saisie d'un texte</option>
                                <option value="boolean" {% if element[0] == "boolean" %}
                                    selected
                                {% endif %}>Saisie d'un booléen</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="elementName" value="{{ element[1] }}">
                        </td>  
                    </tr>              
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <button type="button" id="addLine">Ajouter une ligne</button>
            <button type="button" id="removeLine">Supprimer la dernière ligne</button>
            <button type="button" id="save">Sauvegarder la procédure</button>
            <div class="js-procedure-id" data-procedure-id="{{ procedure.id }}"></div>
        </main>
        {% block javascripts %}{{ encore_entry_script_tags('procedure') }}{% endblock %}
    </body>
{% endblock %}
