{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeAccountController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for account in accounts %}
                <p>{{account.label}} {{account.computer.client.lastname}} {{ account.computer.client.firstname }}</p>        
            {% endfor %}
        </main>
    </body>
{% endblock %}
