{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingActionController!{% endblock %}

{% block body %}

    <!-- menu--> 
    <div class="container-fluid">

    {% for message in app.flashes('wait_success') %}
        <div class="alert alert-success ">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('wait_warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}    {% for message in app.flashes('wait_error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

      <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
      <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('{{ asset('build/curved-images/curved0.jpg') }}'); background-position-y: 50%; margin-top: -26px;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row ">
          <div class="col-lg-3 col-md-6 pointer" data-bs-toggle="modal" data-bs-target="#infoClient" style="margin-top: 15px;">
            <p class="mb-0 text-sm text-primary"><u>Information client</u></p>
            <div class="row">
              <div class="col-auto d-none d-md-block">
                <div class="avatar avatar-xl position-relative">
                  <img src="{{ asset('build/illustrations/user.png') }}" alt="user" class="w-100 border-radius-lg shadow-sm">
                </div>
              </div>

              <div class="col-auto my-auto">
                <div class="h-150 text-truncate">
                  <h5 class="mb-1">{{ fixing.computer.client.lastname|upper }} {{ fixing.computer.client.firstname|upper }}</h5>
                  {% set splitArray = fixing.computer.client.phone|split('', 2) %}
                  {% set formattedString = splitArray|join(' ') %}
                  <p class="mb-0 font-weight-bold text-sm">{{ formattedString }}</p>
                  {# <p class="mb-0 font-weight-bold text-sm">{{ fixing.computer.client.mail}}</p> #}
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-6 pointer" data-bs-toggle="modal" data-bs-target="#infoComputer" style="margin-top: 15px;">
            <p class="mb-0 text-sm text-primary"><u>Information materiel</u></p>
            <div class="row">
              <div class="col-auto d-none d-md-block">
                <div class="avatar avatar-xl position-relative">
                  <img src="{{ asset('build/illustrations/' ~ fixing.computer.type ~ '-black.png') }}" alt="{{ fixing.computer.type }}" class="w-100 border-radius-lg shadow-sm">
                </div>
              </div>
              <div class="col-auto my-auto">
                <div class="h-100 text-truncate">
                  <h5 class="mb-1">{{ fixing.computer.brand|upper }} {{ fixing.computer.model|upper  }}</h5>
                  <p class="mb-0 font-weight-bold text-sm text-primary">
                    {% if fixing.computer.password == NULL %}
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i> 
                    {% else %}
                        <i class="fa fa-lock" aria-hidden="true"></i> {{fixing.computer.password}}
                    {% endif %}
                  </p>
                   <p class="mb-0 font-weight-bold text-sm text-info">
                    {% set i = 0 %}
                    {% for account in fixing.computer.accounts %}
                    {% set i = i + 1 %}
                    {% endfor %}
                    Compte logiciel: ({{ i }})
                  </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6" style="margin-top: 15px;">
            <p class="mb-0 text-sm text-primary"><u>Information technicien</u></p>
            <div class="row">
              <div class="col-auto d-none d-md-block">
                <div class="avatar avatar-xl position-relative">
                  <img src="{{ asset('build/illustrations/technician.png') }}" alt="technicien" class="w-100 border-radius-lg shadow-sm">
                </div>
              </div>
              <div class="col-auto my-auto">
                <div class="h-100 text-truncate">
                  <h5 class="mb-1">Prise par:</h5>
                  <p class="mb-0 font-weight-bold text-sm">{{ fixing.creationEmployee.lastname }} {{ fixing.creationEmployee.firstname }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 text-center align-self-center" style="margin-top: 15px;">
            {% if fixing.status == "Pris en charge" %}
              <a href="{{ path('fix_fixing_wait_status', {'id' : fixing.id}) }}">
                <button type="button" class="btn bg-gradient-secondary btn-lg">Prise en charge</button>
              </a>
            {% elseif fixing.status == "Attente"%}
              <a href="{{ path('fix_fixing_wait_status', {'id' : fixing.id}) }}">
                <button type="button" class="btn bg-gradient-warning btn-lg">Attente</button>
              </a>
            {% elseif fixing.status == "Fini" %}
                <button type="button" class="btn bg-gradient-success btn-lg">Fini</button>
            {% else %}
              <a href="{{ path('fix_fixing_wait_status', {'id' : fixing.id}) }}">
                <button type="button" class="btn bg-gradient-info btn-lg">En cours</button>
              </a>
            {% endif %}   
          </div>
        </div>
      </div>
    </div>

    <!-- corps--> 
    <div class="container-fluid">
      <!-- corps / ligne1 /--> 
      <div class="row p-3">
        <!-- corps / ligne1 / liste de materiel--> 
        <div class="col-lg-2 col-md-4">
          <div class="card card-body shadow-lg height-400 m-2" >
            <div class="row">
              <h6 class="text-truncate"><i class="fa fa-barcode" aria-hidden="true"></i> Réf du dépannage</h6>
               <!-- voir avec manu pas fait de son coté --> 
              <h1 class="text-center"> {{ fixing.id }} </h1>
            </div>
            <div class="row">
              <h6 class="text-truncate"><i class="fa fa-list" aria-hidden="true"></i> Liste materiels associer déposser</h6>
               <!-- voir avec manu pas fait de son coté --> 
              <div class="card-body p-3" style="overflow-y: scroll; max-height:165px; height:165px">
                <ul class="list-group">
                    {% for materiel in fixing.materials %}
                        <li class="list-group-item list-group-item-action">{{ materiel.name }}</li>
                    {% endfor %}
                </ul>
              </div>
              <div class="card-footer">
                <a href="{{path("fix_fixing_material", {'id' : fixing.id})}}">
                  <button type="button" class="btn bg-gradient-primary">Modifier</button>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- corps / ligne1 /materiels--> 
        <div class="col-lg-3 col-md-8">
          <!-- materiel / consigne --> 
          <div class="col-12">
            <div class="card card-body shadow-lg m-2" >
              <div class="row">
                <div class="col-12">
                  <h6 class="text-truncate"><i class="fa fa-user-md" aria-hidden="true"></i> Déscriptif panne</h6>
                </div>
                <div class="col-12">
                  <p class="text-truncate text-end  ">Déposser le : <span class="text-primary">{{ fixing.creationDateTime|date("d/m/Y") }}</span> </p>
                </div>
                {% if fixing.damage == NULL %}
                    <div class="card-body p-3" style="overflow-y: scroll; min-height:161px; max-heigth:161 px;">
                    <div class="timeline timeline-one-side" style="max-height: 100px;">
                {% else %}
                    <div class="card-body p-3" style="overflow-y: scroll; min-height:87px; max-heigth:87 px;">
                    <div class="timeline timeline-one-side" style="max-height: 60px;">
                {% endif %}
                  
                    <div class="timeline-block mb-3">
                      <div class="timeline-content">
                        <p class="text-secondary font-weight-bold mt-1 mb-0"> {{ fixing.problem }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- materiel / dommage materiel --> 
            {% if fixing.damage == NULL %}
                    
            {% else %}
                <div class="col-12">
                    <div class="card card-body shadow-lg m-2" >
                    <div class="row">
                        <h6 class="text-sm"> Dégats : <span class="text-secondary">{{ fixing.damage }}</span></h6>
                    </div>
                    </div>
                </div>
            {% endif %}
     
          
          <!-- materiel / test hdd--> 
          <div class="col-12">
            <div class="card card-body shadow-lg m-2" >
              <div class="row">
                {# <div class="col-4">
                  <div class="card-body p-1">
                  <!-- voir manu --> 
                    <h6 class="text-truncate text-center"><i class="fa fa-hdd-o" aria-hidden="true"></i> HDD/SSD</h6>
                    <div class="progress-wrapper">
                      <div class="progress-info">
                        <div class="progress-percentage">
                          <span class="text-sm font-weight-bold text-warning">89%</span>
                        </div>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                      </div>
                    </div>
                    <h6 class="text-truncate text-danger text-center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> SMART</h6>
                  </div>
                </div> #}

                <div class="col-6">
                  <div class="card-body p-1">
                    <h6 class="text-truncate text-center"><i class="fa fa-bolt" aria-hidden="true" ></i> éléctiquement</h6>
                    {% if fixing.start == 1 %}
                        <h3 class="text-truncate text-success text-center"><i class="fa fa-thumbs-o-up" aria-hidden="true" ></i></h3>
                    {% else %}
                        <h3 class="text-truncate text-danger text-center"><i class="fa fa-thumbs-o-down" aria-hidden="true" ></i></h3>
                    {% endif %}
                  </div>
                </div>

                <div class="col-6">
                  <div class="card-body p-1">
                    <h6 class="text-truncate text-center"><i class="fa fa-power-off" aria-hidden="true" ></i> OS Boot</h6>
                    {% if fixing.os == 1 %}
                        <h3 class="text-truncate text-success text-center"><i class="fa fa-thumbs-o-up" aria-hidden="true" ></i></h3>
                    {% else %}
                        <h3 class="text-truncate text-danger text-center"><i class="fa fa-thumbs-o-down" aria-hidden="true" ></i></h3>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- corps / ligne1 /tarif--> 
        <div class="col-lg-4 col-md-6">
          <div class="card card-body shadow-lg height-400 m-2">
            <div class="row">
              <div class="col-6">
                <h6><i class="fa fa-eur" aria-hidden="true"></i> Tarifs</h6>
              </div>
              <div class="col-6">
                <p class="text-truncate text-end  ">Total : <span class="text-primary text-bold">
                    {% set Total = 0 %}
                    {% for service in fixing.services %}
                        {% set Total = Total + service.price %}
                    {% endfor %}
                    {% for order in fixing.orders %}
                        {% set Total = Total + order.price %}
                    {% endfor %}
                    {{Total}} €
                </span> </p>
              </div>
            </div>
            <div class="card-body p-3" style="overflow-y: scroll;">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Déscriptif</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Prix</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for service in fixing.services %}
                    <tr>
                      <td class="align-middle text-center">
                        <div class="row">
                          <div class="col-4">
                            <p class="text-center text-bold text-primary">{{ '*' ~ service.type ~ service.number}}</p>
                          </div>
                          <div class="col-8">
                            <p class="text-center text-truncate" title="démontage trape">{{ service.name }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-center text-bold text-primary text-truncate">{{ service.price }} €</p>
                      </td>
                    </tr>
                  {% endfor %}
                  {% for order in fixing.orders %}
                    <tr>
                      <td class="align-middle text-center">
                        <div class="row">
                          <div class="col-4">
                            <p class="text-center text-bold text-warning"><i class="fa fa-puzzle-piece fa-2x" aria-hidden="true"></i></p>
                          </div>
                          <div class="col-8">
                            <p class="text-center text-truncate" title="{{ order.description }}">{{ order.description }}</p>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <p class="text-center text-bold text-warning text-truncate">{{ order.price }} €</p>
                      </td>
                    </tr> 
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-end">
               <a href="{{ path("fix_fixing_service", {'id' : fixing.id}) }}" type="button"><button class="btn btn-success mb-0"><i class="fa fa-pencil" aria-hidden="true"></i> Edite Tarifs</button></a>
            </div>
          </div>
        </div>

        <!-- corps / ligne1 /historique--> 
        <div class="col-lg-3 col-md-6">
          <div class="card card-body shadow-lg height-400 m-2">
            <div class="row">
              <div class="col-6">
                <h6><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Historique</h6>
              </div>
              <div class="col-6 text-end">
                <a href="{{ path('fix_fixing_history', {'id' : fixing.id}) }}"><button type="button" class="btn btn-outline-dark btn-sm"><i class="fa fa-archive" aria-hidden="true"></i> {{ historyNumber }}</button></a>
              </div>
            </div>
            
            <div class="card-body p-3" style="overflow-y: scroll;">
              <div class="timeline timeline-one-side" id="js-historique">
              </div>
            </div>
            <form action="">
              <div class="form-group m-3">
                <div class="input-group mb-3">
                  <input type="textarea" class="form-control form-control-lg" placeholder="ajouter un commentaire" aria-label="commentaire" aria-describedby="send">
                  <button class="btn btn-success mb-0" type="button" id="sendComment"><i class="ni ni-send"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- corps / ligne2 /prosedure--> 
        <div class="col-lg-5 col-md-12">
          <div class="card card-body shadow-lg m-2" style="max-height:300px; min-height:300px">
            <div class="row">
              <div class="col-6">
                <h6 class="text-truncate"><i class="fa fa-hand-spock-o" aria-hidden="true"></i> Liste des procédures</h6>
              </div>
              <div class="col-6 d-flex justify-content-end mb-3">
                <a href="{{ path("fix_fixing_add_edit_procedure", {'id' : fixing.id}) }}"><button type="button" class="btn btn-sm btn-success "><i class="fa fa-pencil fa-2x" aria-hidden="true"></i>  Edit procedure</button></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="{{ path("fix_fixing_fixing_tool", {'id' : fixing.id}) }}">
                  <button type="button" class="btn btn-secondary btn-md w-100">outils de diag</button>
                </a>
                <ul class="list-group" style="overflow-y: scroll; max-height:150px;">
                  {% for procedureGroup in fixing.procedureGroups %}
                      <a href="{{ path("fix_fixing_do_procedure_group", {'id' : fixing.id, 'procedureGroupId' : procedureGroup.id}) }}">
                        <li class="list-group-item border-0 p-4 mb-2 bg-gray-100 border-radius-lg">
                          <div>
                            <h6 class="mb-3 text-sm"><i class="fa fa-wrench" aria-hidden="true"></i>   {{ procedureGroup.name }}</h6>
                          </div>
                        </li>
                      </a>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- corps / ligne2 /commande--> 
        <div class="col-lg-4 col-md-6">
          <div class="card card-body shadow-lg m-2 height-300">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Ajout / Commande de pièces</h6>
                </div>
                <div class="col-6 text-end">
                  <a class="text-end" href="{{ path("fix_fixing_add_order", {'id' : fixing.id}) }}"><button type="submit" class="btn btn-success btn-sm mb-0">Ajouter</button></a>
                </div>
              </div>
            </div>
            <div class="card-body p-3 pb-0" style="overflow-y: scroll;">
              <ul class="list-group">
              {% for order in fixing.orders %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark font-weight-bold text-sm">{{ order.eshop }} - {{ order.price }}€</h6>
                    <span class="text-xs">{{ order.description }}</span>
                  </div>
                  <div class="d-flex align-items-center text-sm">
                    <a href="{{ path("fix_fixing_edit_order", {'id' : fixing.id, 'orderId' : order.id}) }}"><button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button></a>
                    <button id="{{ 'remove' ~ order.id }}" class="btn btn-link text-danger text-sm mb-0 px-0 ms-4 removeOrder"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></button>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <!-- corps / ligne2 /status--> 
        <div class="col-lg-3 col-md-6">
            <div class="col-12">
              <div class="card card-body shadow-lg m-2 height-100">
                <div class="row">
                  <div class="col-4">
                    <a href="{{ path('fix_fixing_wait_status', {'id' : fixing.id}) }}">
                      {% if fixing.status == "Attente" %}
                        <div class="pointer icon icon-shape icon-lg btn bg-gradient-warning shadow text-center border-radius-lg">
                          <i class="fa fa-pause opacity-10" aria-hidden="true"></i>
                        </div>
                      {% else %}
                      <div class="pointer icon icon-shape icon-lg btn bg-gradient-light shadow text-center border-radius-lg">
                        <i class="fa fa-pause opacity-10" aria-hidden="true"></i>
                      </div>
                      {% endif %}
                    </a>
                  </div>
                  <div class="col-4">
                    <div class="btn pointer icon icon-shape icon-lg bg-gradient-secondary shadow text-center border-radius-lg" onclick=(printTicket())>
                      <i class="fa fa-print opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="btn pointer icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg" onclick=(renewDisplay())>
                      <i class="fa fa-window-maximize opacity-10" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-body shadow-lg m-2" style="max-height: 187px; min-height: 187px;">
                <form action = "{{ path("fix_fixing_finish_status", {'id' : fixing.id}) }}" method = "POST" >
                  <button type="submit" class="btn bg-gradient-primary btn-lg w-100" id="js-finishStatus" {{ fixing.status == "Fini" ? 'disabled' : '' }} >Prevenir le client</button>
                </form>
                <form action = "{{ path("fix_finish_fixing") }}" method = "POST" >
                  <input type="number" name="selectedFixing" value="{{ fixing.id }}" hidden ></input>
                  <button type="submit" class="btn bg-gradient-primary btn-lg w-100" {{ fixing.status == "Fini" ? '' : 'disabled' }} > Terminer le dépannage </button>
                </form>
              </div> 
            </div>
        </div>
      </div>   
    </div>

    <div class="modal fade" id="infoClient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Information client</h4>
          </div>
          <div class="modal-body">

            <div class="d-flex flex-column">
              <h6 class="mb-1 text-primary font-weight-bold text-sm">Non Prénom</h6>
              <span class="text-sm">{{ fixing.computer.client.lastname|upper }} {{ fixing.computer.client.firstname|upper }}</span>
            </div>
            <hr class="horizontal dark my-3">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-primary font-weight-bold text-sm">Coordonnées</h6>
              <span class="text-sm">{{ formattedString }}</span>
              <span class="text-sm">{{ fixing.computer.client.mail}}</span>
            </div>
            <hr class="horizontal dark my-3">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-primary font-weight-bold text-sm">Adresse postal</h6>
              <span class="text-sm">{{ fixing.computer.client.address }}</span>
              <span class="text-sm">{{ fixing.computer.client.city }}, {{ fixing.computer.client.postCode}}</span>
            </div>

          </div>
          <div class="modal-footer">
            <a href="{{path("fix_fixing_client", {'id' : fixing.id})}}">
              <button type="button" class="btn bg-gradient-primary">Modifier</button>
            </a>
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="infoComputer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Information materiel:</h4>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6 class="mb-1 text-primary font-weight-bold text-sm">{{ fixing.computer.type }}</h6>
                  <span class="text-sm">{{ fixing.computer.brand|upper }} {{ fixing.computer.model|upper }}</span>
                  <h6 class="mb-1 text-primary font-weight-bold text-sm">Mot de passe materiel:</h6>
                  <span class="text-sm">
                    {% if fixing.computer.password == NULL %}
                      <i class="fa fa-unlock-alt" aria-hidden="true"></i> 
                    {% else %}
                        <i class="fa fa-lock" aria-hidden="true"></i> {{fixing.computer.password}}
                    {% endif %}
                  </span>
                </div>
                <div class="d-flex align-items-center text-sm">
                  <a href="{{path("fix_fixing_computer", {'id' : fixing.id})}}">
                    <button class="btn btn-link text-info text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
                  </a>
                </div>
              </li>
            </ul>

            <hr class="horizontal dark my-3">

            
              
                <div class="row">
                  <div class="col-6 d-flex align-items-center">
                    <h5 class="mb-0">Compte logiciel :</h5>
                  </div>
                  <div class="col-6 text-end">
                    <a href="{{ path('fix_fixing_account_add', {'id': fixing.id}) }}">
                      <button class="btn btn-outline-success btn-sm mb-0">Ajouter</button>
                    </a>
                  </div>
                </div>
            
              <div class="card-body p-3 pb-0">
                {% for account in fixing.computer.accounts %}
                <ul class="list-group">
                  <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                    <div class="d-flex flex-column">
                      <h6 class="text-dark mb-1 font-weight-bold text-sm">{{ account.label|upper  }}</h6>
                      <span class="mb-2 text-xs">login: <span class="text-dark font-weight-bold ms-sm-2">{{ account.login }}</span></span>
                      <span class="mb-2 text-xs">Mot de passe: <span class="text-dark font-weight-bold ms-sm-2">{{ account.password }}</span></span>
                      <span class="mb-2 text-xs">Information: <cite><span class="text-dark font-weight-bold ms-sm-2">"{{ account.moreInfo }}"</span></span></cite>
                    </div>
                    <div class="d-flex align-items-center text-sm">
                      <a href="{{ path('fix_fixing_account_edit', {'id': fixing.id, 'clientId': fixing.computer.client.id, 'computerId': fixing.computer.id, 'accountId' : account.id}) }}">
                        <button class="btn btn-link text-info text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></button>
                      </a>
                      <a id="{{ 'delete' ~ account.id }}" class="removeAccount">
                        <button class="btn btn-link text-danger text-sm mb-0 px-0 ms-4"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
                      </a>
                    </div>
                  </li>
                </ul>
                {% endfor %} 
              </div>
            

          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

    <div class="js-comment" data-comment="{{ fixing.comment }}"></div>
   
    

    <script>

      function sendComment() {
        let data = JSON.stringify({"comment" : this.previousElementSibling.value});
        let xml = new XMLHttpRequest();
        xml.open("POST", window.location + "/comment");
        xml.onreadystatechange = function() {
          if(xml.readyState == 4 && xml.status == 200) {
            window.location.reload();
          }
        }
        xml.send(data);
      }

      function printTicket() {
        let xml = new XMLHttpRequest();
        xml.open("GET", window.location + "/print-ticket");
        xml.send();
      } 

      function waitStatus() {
        let xml = new XMLHttpRequest();
        xml.open("GET", window.location + "/wait-status");
        xml.send();
      } 

      function renewDisplay() {
        let xml = new XMLHttpRequest();
        xml.open("GET", window.location + "/renew-display");
        xml.send();
      } 

      function removeOrder() {
            let orderId = this.id;
            if (confirm("Etes vous sur de vouloir supprimer ?")) {
              let xml = new XMLHttpRequest();
              xml.open("GET", window.location + "/order/remove/"+orderId.substr(6));
              xml.onreadystatechange = function() {
                  if(xml.readyState == 4 && xml.status == 200) {
                      alert("Commande supprimé correctement");
                      window.location.reload();
                  }
              }
              xml.send();
            }
        }

      function removeAccount() {
            let accountId = this.id;
            if (confirm("Etes vous sur de vouloir supprimer le compte ?")) {
              let xml = new XMLHttpRequest();
              xml.open("GET", window.location + "/account/remove/"+accountId.substr(6));
              xml.onreadystatechange = function() {
                  if(xml.readyState == 4 && xml.status == 200) {
                      alert("Compte supprimé correctement");
                      window.location.reload();
                  }
              }
              xml.send();
            }
        }

        let alerts = document.querySelectorAll(".alert");
        if (alerts){
          setTimeout(function(){
            alerts.forEach(alert => {
              alert.className = "hide";
            });
          }, 5000); 

        }

        let sendButton = document.getElementById("sendComment");
        sendButton.addEventListener('click', sendComment);
    
        let orders  = document.querySelectorAll('.removeOrder');
        orders.forEach(order => {
        order.addEventListener('click', removeOrder);
        });
        
        let accounts  = document.querySelectorAll('.removeAccount');
        accounts.forEach(account => {
          account.addEventListener('click', removeAccount);
        });

        let comment = document.querySelector('.js-comment').dataset.comment;
        let tmps = comment.split('¤');
        let divs = [];
        tmps.forEach(tmp => {
          divs.push(tmp.split('§'));
        });
        let container = document.querySelector('#js-historique');

        divs = divs.reverse();
        divs.forEach(div => {
            let node = document.createElement("div");
            let firstChild = document.createElement("span");
            let iNode = document.createElement("i");
            let secondChild = document.createElement("div");
            let h6Node = document.createElement("h6");
            let p1Node = document.createElement("p");
            let p2Node = document.createElement("p");
            let strongNode = document.createElement("strong");
            node.className = "timeline-block mb-3";
            firstChild.className = "timeline-step";
            secondChild.className = "timeline-content";
            h6Node.innerHTML = div[0];
            p1Node.className = 'text-secondary font-weight-bold text-xs mt-1 mb-0';
            strongNode.innerHTML = div[1];
//            p1Node.innerHTML = div[1];
            p2Node.className = 'text-secondary font-weight-bold text-xs mt-1 mb-0';
            p2Node.innerHTML = div[2];
            switch (div[0]) {
              case 'Status':
                 h6Node.className = 'text-success text-sm font-weight-bold mb-0';
                 iNode.className = "ni ni-trophy text-success text-gradient";
                 break;
              case 'Commentaire':
                 h6Node.className = 'text-primary text-sm font-weight-bold mb-0';
                 iNode.className = "ni ni-chat-round text-primary text-gradient";
                 break;
              case 'Action':
                 h6Node.className = 'text-info text-sm font-weight-bold mb-0';
                 iNode.className = "ni ni-settings text-info text-gradient";
                 break;
              case 'Commande':
                 h6Node.className = 'text-warning text-sm font-weight-bold mb-0';
                 iNode.className = "fa fa-truck text-warning text-gradient";
                 break;
            }
            p1Node.appendChild(strongNode);
            firstChild.appendChild(iNode);
            secondChild.appendChild(h6Node);
            secondChild.appendChild(p1Node);
            secondChild.appendChild(p2Node);
            node.appendChild(firstChild);
            node.appendChild(secondChild);
            container.appendChild(node);
        });

        {# let renewDisplayButton = document.getElementById("js-renewDisplay");
        renewDisplayButton.addEventListener('click', renewDisplay);

        let printTicketButton = document.getElementById("js-printTicket");
        printTicketButton.addEventListener('click', printTicket); #}
    </script>
{% endblock %}
