{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeProcedureGroupProcedureOrderController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% set order = 1 %}
            {% set max = procedures|length %}
            {% for procedure in procedures %}
                <div class="procedure" id="{{ 'order' ~ order }}">
                    <button class="js-button-up">↑</button>
                    <p id="{{ procedure.id }}">{{ procedure.name }}</p>
                    <button class="js-button-down">↓</button> 
                </div>
                {% set order = order + 1 %}
            {% endfor %}
            <button id="js-save-order">Sauvegarder l'ordre des procédures</button>
            <div class="js-procedure-group-id" data-procedure-group-id="{{ id }}"></div>
        </main>
        {% block javascripts %}{{ encore_entry_script_tags('procedure_group_order') }}{% endblock %}
    </body>
{% endblock %}
