{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingController!{% endblock %}

{% block body %}

{% embed "navbar.html.twig" %}{% endembed %}

<div class="container">
            <button type="button" class="btn bg-gradient-secondary mt-2 me-2 btn-sm" id="js-btn-Prisencharge" onclick="toggle('Prisencharge')">Pris en charge</button>
            <button type="button" class="btn bg-gradient-info mt-2 me-2 btn-sm"  id="js-btn-Encours" onclick="toggle('Encours')">En cours</button>
            <button type="button" class="btn bg-gradient-warning mt-2 me-2 btn-sm" id="js-btn-Attente" onclick="toggle('Attente')">Attente</button>
            <button type="button" class="btn bg-gradient-success mt-2 me-2 btn-sm" id="js-btn-Fini" onclick="toggle('Fini')" >Fini</button>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                <input id="searchbar" onfocus="searchClients()" autofocus onkeyup="searchClients()" type="text" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon1">
            </div>
        <div class="row">
        {% for fixing in fixings %}
            <div class="col-md-4 p-2 js-element" id="{{'js-status-' ~ fixing.status|replace({' ': ''}) }}">
                <div class="card shadow-lg js-card-clic" id="{{ 'js-fixing-' ~ fixing.id }}">
                    <div class="card-body p-3 pointer img border-radius-lg move-on-hover">
                        <div class="row">
                            <div class="d-flex flex-column h-100">
                                <div class="row text-truncate">
                                    <div class="col-5">
                                        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ fixing.computer.type }}</span>
                                    </div>
                                    <div class="col-7 text-end">
                                        {% if fixing.status == "Pris en charge" %}
                                            <span class="badge badge-sm bg-gradient-secondary">{{ fixing.status}}</span>
                                        {% elseif fixing.status == "Attente"%}
                                            <span class="badge badge-sm bg-gradient-warning">{{ fixing.status}}</span>
                                        {% elseif fixing.status == "Fini" %}
                                            <span class="badge badge-sm bg-gradient-success">{{ fixing.status}}</span>
                                        {% else %}
                                            <span class="badge badge-sm bg-gradient-info">{{ fixing.status}}</span>
                                        {% endif %}                                      
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 text-center p-2">
                                        <div class="bg-gradient-primary border-radius-lg d-none d-md-block">
                                            <img class="w-100 position-relative z-index-2" src="{{ asset('build/illustrations/' ~ fixing.computer.type ~ '.png') }}" alt="{{ fixing.computer.type }}">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="row p-1">
                                            <div class="author align-items-center">
                                                <img src="{{ asset('build/logos/team.png') }}" alt="logo teams" class="avatar shadow">
                                                <div class="name ps-3 text-truncate">
                                                    <span id="js-search">{{ fixing.computer.client.lastname }} {{ fixing.computer.client.firstname }}</span>
                                                    <div class="stats">
                                                        <small>{{ fixing.creationDateTime|date("d/m/Y") }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row p-1">
                                            <div class="author align-items-center">
                                                <img src="{{ asset('build/logos/list.png') }}" alt="list" class="avatar shadow">
                                                <div class="name ps-3 text-truncate">
                                                    <span>{{ fixing.computer.brand }} {{ fixing.computer.model }}</span>
                                                    <div class="row">
                                                        <small>{{ fixing.creationEmployee.lastname }} {{ fixing.creationEmployee.firstname }}</small>
                                                        <small>dernier tech</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <span class="text-truncate text-sm text-primary">Dépannage n°{{ fixing.id }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<script>
    function moveToDashboard(){
       window.location.pathname = "/fix/fixing/" + this.id.substr(10);
    }

    function toggle(status){
        let el = document.querySelectorAll('#js-status-'+status);
        let btn = document.getElementById('js-btn-'+status);

        // active ou desaction la couleur du btn
        switch (status) {
        case 'Prisencharge':
            btn.classList.toggle("bg-gradient-secondary")
            break;
        case 'Attente':
            btn.classList.toggle("bg-gradient-warning")
            break;
        case 'Fini':
            btn.classList.toggle("bg-gradient-success")
            break;
        default:
            btn.classList.toggle("bg-gradient-info")
        }

        for (var index = 0; index < el.length; index++) {
            // cache ou affiche les div avec le même status
            if(el[index].style.display === "none"){
                el[index].style.display = "block";
            }
            else{
                el[index].style.display = "none";
            }
        }  
    }

    let element = document.querySelectorAll('.js-element');
    let search = document.querySelectorAll('#js-search');

    function searchClients() {
        let input = document.getElementById('searchbar').value
        console.log(input);
        input = input.toLowerCase();
        
        for (i = 0; i < search.length; i++) { 
            //console.log(search[i].innerHTML);
            if (!search[i].innerHTML.toLowerCase().includes(input)) {
                element[i].style.display="none";
            }
            else {
                element[i].style.display="block";                 
            }
        }
    } 


    let divClic = document.querySelectorAll('.js-card-clic');
    divClic.forEach( div => { 
        div.addEventListener('click', moveToDashboard );
    });

</script>
{% endblock %}
