{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingServiceController!{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->

        <div class="container-fluid">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header pb-2 p-3 bg-gray-200">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">{{ (fixing.status != 'Attente') ? 'Mise en attente' : 'Sorti d\'attente' }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 height-300">
                            <form method="POST" action="{{ path("fix_fixing_wait_status", {'id' : fixing.id }) }}">
                            <div class="form-group">
                                <label for="reasons">Raisons du changement de status :</label>
                                <textarea class="form-control" id="reasons" name="reasons" rows="3" required></textarea>
                            </div>
                            {% if fixing.status != 'Attente' %}
                                <label for="computerInShop">Le PC reste-il en atelier ?</label><br>
                                <input type="radio" id="oui" name="computerInShop" value="true" required>
                                <label for="oui">Oui</label><br>
                                <input type="radio" id="non" name="computerInShop" value="false" required>
                                <label for="non">Non</label><br>
                            {% endif %}
                            <button type="submit" class="btn bg-gradient-primary">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
