{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingActionController!{% endblock %}

{% block body %}
    <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
    <h2>{{ procedureGroupName }}</h3>

    {% set numberElement = 0 %}
    {% set number = 1 %}
    {% for procedure in procedures %}
        <div id="{{ 'js-procedure-' ~ procedure.id }}">
            <h3>{{ procedure.name }}</h3>
            {% for element in procedureElements[numberElement] %}
                <div id="{{ 'js-element-' ~ number }}">
                    {% if element.type == 'checkbox' %}
                        <p>
                            {{ element.name }} :
                            <button class="js-button-checkbox" id="{{ element.name }}">Terminé</button>
                        </p>
                    {% elseif element.type == 'number' %}
                        <p>
                            {{ element.name }} :
                            <input type="number"></input>
                            <button class="js-button-input" id="{{ element.name }}">Terminé</button>
                        </p>
                    {% elseif element.type == 'text' %}
                        <p>
                            {{ element.name }} :
                            <input type="text"></input> 
                            <button class="js-button-input" id="{{ element.name }}">Terminé</button>
                        </p>
                    {% else %}
                        <p>
                            {{ element.name }} :
                            <input type="radio" name="{{ element.name }}" value="Oui">Oui</input> 
                            <input type="radio" name="{{ element.name }}" value="Non">Non</input> 
                            <button class="js-button-radio" id="{{ element.name }}">Terminé</button>
                        </p>
                    {% endif %}
                </div>
                {% set number = number + 1 %}
            {% endfor %}
        {% set numberElement = numberElement + 1 %}
        {% set number = 1 %}
        </div>
    {% endfor %}

    <div class="js-procedure-group-id" data-procedure-group-id="{{ procedureGroupId }}"></div>

    <script>
        function saveAction(elementId, procedureId, value, name) {
            let json = JSON.stringify({"procedureGroupNumber" : procedureGroupId, "procedureNumber" : procedureId, "actionNumber" : elementId, "value" : value, "name" : name});
            let url = "save-action";
            let xml = new XMLHttpRequest();
            xml.open("POST", url);
            xml.setRequestHeader("ContentType", "application/json");
            xml.send(json);
        }

        function doButtonCheckbox() {
            saveAction(this.parentElement.parentElement.id.substr(11), this.parentElement.parentElement.parentElement.id.substr(13), 'OK', this.id);
            this.parentElement.parentElement.remove();
        }

        function doButtonInput() {
            if (this.previousElementSibling.value == "") {
                alert('Le champ ne peut pas être vide');
                return;
            } else {
                saveAction(this.parentElement.parentElement.id.substr(11), this.parentElement.parentElement.parentElement.id.substr(13), this.previousElementSibling.value, this.id);
                this.parentElement.parentElement.remove();
            }
        }

        function doButtonRadio() {
            if (this.previousElementSibling.checked == false && this.previousElementSibling.previousElementSibling.checked == false) {
                alert('Aucune réponse sélectionnée');
                return;
            }
            if (this.previousElementSibling.checked ==true)
                saveAction(this.parentElement.parentElement.id.substr(11), this.parentElement.parentElement.parentElement.id.substr(13), this.previousElementSibling.value, this.id);
            else
                saveAction(this.parentElement.parentElement.id.substr(11), this.parentElement.parentElement.parentElement.id.substr(13), this.previousElementSibling.previousElementSibling.value, this.id);
            this.parentElement.parentElement.remove();
        }

        let buttonCheckbox = document.querySelectorAll('.js-button-checkbox');
        buttonCheckbox.forEach(button => {
            button.addEventListener('click', doButtonCheckbox);
        });

        let buttonInput = document.querySelectorAll('.js-button-input');
        buttonInput.forEach(button => {
            button.addEventListener('click', doButtonInput);
        });

        let buttonRadio = document.querySelectorAll('.js-button-radio');
        buttonRadio.forEach(button => {
            button.addEventListener('click', doButtonRadio);
        });

        let procedureGroupId = document.querySelector('.js-procedure-group-id').dataset.procedureGroupId;
        let actions = JSON.parse("{{ actions|json_encode()|escape('js')}}");


        for(let i = 0; i < actions.length; i++) {
            document.querySelector('#js-procedure-' + actions[i][0] + '>#js-element-' + actions[i][1]).remove();
        }
    </script>

{% endblock %}
