{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeController!{% endblock %}

{% block body %}

    <body class="g-sidenav-show  bg-gray-100">
    {% embed "backofficeMenu.html.twig" %}{% endembed %}
            


            <div class="container-fluid py-4">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-12 mb-lg-0 mb-4">
                        <div class="card mt-4">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0">Test serveur sms</h6>
                                    </div>
                                </div>
                            </div>
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-md-9 mb-md-0 mb-4">
                                            <div class="form-group">
                                                <input id="JS-phone" class="form-control form-control-lg" value="" type="tel" placeholder="Numero pour le test">
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <button type="button" class="btn btn-outline-dark btn-lg" onclick="testSMS()"><i class="fa fa-commenting-o" aria-hidden="true"></i> envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    {% set length = listdates|length  %}
                    {% set a =  1 %}
                    <div class="form-group">
                        <label for="listDate">Année</label>
                        <select class="form-control form-control-lg" id="listDate">
                        {% for listdate in listdates %}
                            {% if a == length %}
                                <option value="{{listdate}}" selected>{{ listdate }}</option>
                            {% else %}
                                <option value="{{listdate}}">{{ listdate }}</option>
                                {% set a = a + 1 %}
                            {% endif %}
                        {% endfor %} 
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Nouveau clients / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="client">
                                                {{ stats.client.new }}
                                                {% if stats.client.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.client.rate }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.client.rate }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-users text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Dépannage / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="fixing">
                                                {{ stats.fixing.new }}
                                                {% if stats.fixing.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.fixing.rate }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.fixing.rate }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-wrench text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Total vente / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="total">
                                                {{ stats.total.new }}€
                                                {% if stats.total.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.total.rate }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.total.rate }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-euro text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Materiel vendu / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="material">
                                                {{ stats.material.new }}€
                                                {% if stats.material.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.material.rate }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.material.rate }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-microchip text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Main d'oeuvre / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="labor">
                                                {{ stats.labor.new }}€
                                                {% if stats.labor.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.labor.rate }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.labor.rate }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-money text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6  mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">Panier moyen / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="moy">
                                                {{ stats.moy.new|round(1, 'ceil')  }}€
                                                {% if stats.moy.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.moy.rate|round(1, 'ceil')  }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.moy.rate|round(1, 'ceil') }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-shopping-basket text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6  mb-xl-0 mb-4">
                        <div class="card">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="numbers">
                                            <p class="text-sm mb-0 text-capitalize font-weight-bold text-truncate">MO moyenne / mois</p>
                                            <h5 class="font-weight-bolder mb-0" id="laborMoy">
                                                {{ stats.laborMoy.new|round(1, 'ceil')  }}€
                                                {% if stats.laborMoy.rate > 0 %}
                                                    <span class="text-success text-sm font-weight-bolder">+{{ stats.laborMoy.rate|round(1, 'ceil')  }}%</span>
                                                {% else %}
                                                    <span class="text-danger text-sm font-weight-bolder">{{ stats.laborMoy.rate|round(1, 'ceil') }}%</span>
                                                {% endif %}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-4 text-end">
                                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                                            <i class="fa fa-shopping-basket text-lg opacity-10" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 mt-4">
                        <div class="card ">
                            <div class="card-body h-100">
                                <h6>Matériel Vendu</h6>
                                <div class="chart h-500">
                                    <canvas id="chartMat"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 h">
                        <div class="card ">
                            <div class="card-body">
                                <h6>Main d'oeuvre</h6>
                                <div class="chart">
                                    <canvas id="chartMo"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card ">
                            <div class="card-body">
                                <h6>MO moyenne</h6>
                                <div class="chart">
                                    <canvas id="chartMoMoy"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="card">
                            <div class="card-body">
                                <h6>Panier Moyen</h6>
                                <div class="chart">
                                    <canvas id="chartMoy"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="card z-index-2">
                            <div class="card-body">
                                <h6>Affluence</h6>
                                <div class="chart">
                                    <canvas id="chartCrowd"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="card z-index-2">
                            <div class="card-body">
                                <h6>Top forfaits</h6>
                                <div class="chart">
                                    <canvas id="chartTop"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
    <div class="js-json-mo-moy" data-json-mo-moy="{{ jsonMoMoy }}"></div>
    <div class="js-json-moy" data-json-moy="{{ jsonMoy }}"></div>
    <div class="js-json-mo" data-json-mo="{{ jsonMo }}"></div>
    <div class="js-json-mat" data-json-mat="{{ jsonMat }}"></div>
    <div class="js-json-crowd" data-json-crowd="{{ jsonCrowd }}"></div>
    <div class="js-json-top" data-json-top="{{ jsonTop }}"></div>
    {{ encore_entry_script_tags('chart') }}
    <script>
        function testSMS() {
            let number = document.getElementById("JS-phone");
            let regex = /(0[6-7])[0-9]{8}/g;

            if (number.value.match(regex)){
                number.classList.remove("is-invalid");
                number.classList.add("is-valid");
                let data = JSON.stringify({"phone" : number.value});
                let xml = new XMLHttpRequest();
                xml.open("POST", 'backoffice/testSMS');
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        alert("Message de test envoyé au : "+ number.value);
                        window.location.reload();
                    }
                }
                xml.send(data);
            }else{
                number.classList.remove("is-valid");
                number.classList.add("is-invalid");
            }
        }

    </script>
{% endblock %}
