{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingController!{% endblock %}

{% block body %}

<div class="container-fluid">

{% embed "navbar.html.twig" %}{% endembed %}
<div class="row">
{% for recordsFixing in recordsFixings %}
<div class="col-md-6">
    <div class="card">
        <div class="card-header pb-2 p-3 bg-gray-200">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <h6 class="mb-0">Dépannage du {{ recordsFixing.creationDate|date("d/m/Y") }} au {{ recordsFixing.endDate|date("d/m/Y") }} {# date de fin de depannage #}</h6>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
                {{ recordsFixing.computer.brand }} {# marque du pc #}
                <br>
                {{ recordsFixing.comment|replace({"¤":"/n"}) }} {# historique #}
                <br>
                {{ recordsFixing.receiptNumber}} {# n° de facture #}
                {{ recordsFixing.endEmployee.lastname}} {{ recordsFixing.endEmployee.firstname}} {# information dernier tech #}
                <br>
                {% set total = 0 %}
                {% for services in recordsFixing.recordsServices %}
                    {% set total = total + services.price  %}
                    - {{ services.type }}{{ services.number }} / {{ services.name }} / {{ services.price }}€ <br>
                {% endfor %}
                total = {{ total }}€
                <br>
                <br>
            
        </div>
    </div>
</div>
{% endfor %}
</div>

</div>

{% endblock %}
