{% extends 'base.html.twig' %}

{% block title %}Hello FixFinishFixingController!{% endblock %}

{% block body %}

    <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->

    {% for message in app.flashes('warantly_success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input id="searchbar" onfocus="searchClients()" autofocus onkeyup="searchClients()" type="text" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="basic-addon1">
        </div>
    </div>

    <form action="{{ path('fix_finish_fixing') }}" method="POST">
        <div class="container">
            <div class="row">
                {% for fixing in fixings %}
                    <div class="col-md-4 p-2 js-element" id="{{'js-status-' ~ fixing.status|replace({' ': ''}) }}">
                        <label>
                            <input type="radio" class="card-input-element" name="fixing" value="{{ fixing.id }}" {% if selected == fixing.id %} checked {% endif %} required>
                                <div class="card shadow-lg card-input" id="{{ 'js-fixing-' ~ fixing.id }}">
                                    <div class="card-body p-3 pointer img border-radius-lg">
                                        <div class="row">
                                            <div class="d-flex flex-column h-100">
                                                <div class="row text-truncate">
                                                    <div class="col-5">
                                                        <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ fixing.computer.type }}</span>
                                                    </div>
                                                    <div class="col-7 text-end">
                                                        <span class="badge badge-sm bg-gradient-primary">N.{{ fixing.id }}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4 text-center p-2">
                                                        <div class="bg-gradient-primary border-radius-lg d-none d-md-block">
                                                            <img class="w-100 position-relative z-index-2" src="{{ asset('build/illustrations/' ~ fixing.computer.type ~ '.png') }}" alt="{{ fixing.computer.type }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="row p-1">
                                                            <div class="author align-items-center">
                                                                <img src="{{ asset('build/logos/team.png') }}" alt="logo teams" class="avatar shadow">
                                                                <div class="ps-3 text-truncate">
                                                                    <div class="d-flex flex-column">
                                                                        <h6 class="mb-1 text-dark font-weight-bold text-sm" id="js-search">{{ fixing.computer.client.lastname|upper }} {{ fixing.computer.client.firstname|upper }}</h6>
                                                                        {% set splitArray = fixing.computer.client.phone|split('', 2) %}
                                                                        {% set formattedString = splitArray|join(' ') %}
                                                                        <span class="text-xs">{{ formattedString }}</span>
                                                                        <span class="text-xs">{{ fixing.creationDateTime|date("d/m/Y") }} <i class="fa fa-arrow-right" aria-hidden="true"></i> {{ fixing.endDateTime|date("d/m/Y") }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row p-1">
                                                            <div class="author align-items-center">
                                                                <img src="{{ asset('build/logos/list.png') }}" alt="list" class="avatar shadow">
                                                                <div class="name ps-3 text-truncate">
                                                                    <span>{{ fixing.computer.brand }} {{ fixing.computer.model }}</span>
                                                                    <div class="row">
                                                                        <small>{{ fixing.creationEmployee.lastname }} {{ fixing.creationEmployee.firstname }}</small>
                                                                        <small>dernier tech</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <p>Commande n°{{ fixing.orderNumber }}</p>
                                                        </div>
                                                        <button type="button" class="btn bg-gradient-primary" data-bs-toggle="modal" data-bs-target="#target{{ fixing.id }}">
                                                            Info dépannage
                                                        </button>
                                                        <button class="btn bg-gradient-info" onclick="moveToDashboard({{ fixing.id }})">Edite</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </input>
                        </label>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="target{{ fixing.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Information sur le dépannage</h5>
                                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body height-400" id="down" style="overflow-y: scroll;">
                                
                                {% set tags = fixing.comment|split("¤") %}
                                {% for tag in tags %}
                                    {% set values = tag|split("§") %}
                                    {% for value in values %}

                                        {% if value == "Status" %}
                                            <h6 class="text-gradient text-success mt-4">{{ value }}</h6>
                                        {% elseif value == "Commande" %}
                                            <h6 class="text-gradient text-warning mt-4">{{ value }}</h6>
                                        {% elseif value == "Commentaire" %}
                                            <h6 class="text-gradient text-primary mt-4">{{ value }}</h6>
                                        {% elseif value == "Action" %}
                                            <h6 class="text-gradient text-info mt-4">{{ value }}</h6>
                                        {% else %}
                                            {{ value }}<br>
                                        {% endif %}
                                       
                                    {% endfor %}
                                    <br>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            {# div from #}
            <div class="col-md-6" style="margin-top: 25px !important;">
                <div class="card">
                    <div class="card-header pb-2 p-3" style="background-color: #82d61645 !important;">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h6 class="mb-0">Bilan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3 height-300">
                        <label for="paid">Le client a-t-il payé ?</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="oui" name="paid" value="true" required>
                            <label for="oui">Oui /</label>
                            <input type="radio" id="non" name="paid" value="false" required>
                            <label for="non">Non</label>
                        </div>
                        <div class="form-group">
                            <label for="receipt" class="form-control-label">Numéro facture</label>
                            <input class="form-control" type="text" id="receipt" name="receipt" required style="width: 100%;">
                        </div>
                        <button type="submit" class="btn bg-gradient-primary">Envoyer</button>
                    </div>
                </div>
            </div>
        {# End div form #}

        </div>
    </form>

    <script>

        function moveToDashboard(id){
            window.location.pathname = "/fix/fixing/" + id;
        }

        let element = document.querySelectorAll('.js-element');
        let search = document.querySelectorAll('#js-search');

        function searchClients() {
            let input = document.getElementById('searchbar').value
            console.log(input);
            input = input.toLowerCase();
            
            for (i = 0; i < search.length; i++) { 
                //console.log(search[i].innerHTML);
                if (!search[i].innerHTML.toLowerCase().includes(input)) {
                    element[i].style.display="none";
                }
                else {
                    element[i].style.display="block";                 
                }
            }
        } 

    </script>

{% endblock %}



