{% extends 'base.html.twig' %}

{% block title %}Hello DisplayController!{% endblock %}

{% block body %}
  <body>
    <!-- menu--> 
    <div class="container-fluid">
      <h3 class="text-center">Listes Materiel en dépannage</h3>

      <!-- en atelier -->
      <div class="row" id="js-atelier">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5 class="text-primary">EN ATELIER</h5>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">client</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Materiel</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dernier tech</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date de dépot</th>
                    </tr>
                  </thead>
                  <tbody id="js-table-fixing-atelier">
                    <tr id="js-template-tr" class="hide">
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-name"></h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="" class="avatar avatar-sm me-3 js-type" alt="computer_type">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-model"></h6>
                            <h6 class="text-sm mb-0 js-number"></h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <h4 class="mb-0 text-sm js-tech"></h4>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary js-status"></span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-lg font-weight-bold js-date"></span>
                      </td>
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- en attente -->
      <div class="row hide" id="js-attente">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5 class="text-primary">EN ATTENTE</h5>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">client</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Materiel</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dernier tech</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date de dépot</th>
                    </tr>
                  </thead>
                  <tbody id="js-table-fixing-attente">
                    <tr id="js-template-tr" class="hide">
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-name"></h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="" class="avatar avatar-sm me-3 js-type" alt="computer_type">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-model"></h6>
                            <h6 class="text-sm mb-0 js-number"></h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <h4 class="mb-0 text-sm js-tech"></h4>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary js-status"></span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-lg font-weight-bold js-date"></span>
                      </td>
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- fini -->
      <div class="row hide" id="js-fini">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h5 class="text-primary">PC FINI</h5>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">client</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Materiel</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Dernier tech</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date de dépot</th>
                    </tr>
                  </thead>
                  <tbody id="js-table-fixing-fini">
                    <tr id="js-template-tr" class="hide">
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-name"></h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="" class="avatar avatar-sm me-3 js-type" alt="computer_type">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm js-model"></h6>
                            <h6 class="text-sm mb-0 js-number"></h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <h4 class="mb-0 text-sm js-tech"></h4>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-secondary js-status"></span>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-lg font-weight-bold js-date"></span>
                      </td>
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

  </body>

  <script>
    function updateStatusFixing(fixing) {
      document.querySelector("#fixing" + fixing.id + " .js-status").innerHTML = fixing.status;
      document.querySelector("#fixing" + fixing.id + " .js-tech").innerHTML = fixing.tech;
    }

    function updateTechfixing(fixing) {
      document.querySelector("#fixing" + fixing.id + " .js-tech").innerHTML = fixing.tech;
    } 

    function removeFixing(fixing) {
      document.querySelector("#fixing" + fixing.id).remove();
    } 

    function addFixing(fixing) {
      id = "fixing" + fixing.id;
      if (document.querySelector("#" + id) != null) {
        return;
      }
      let tr = document.getElementById("js-template-tr").cloneNode(true);
      tr.removeAttribute('class');
      tr.id = id;
      switch (fixing.stats) {
        case ("Attente"):
          document.getElementById("js-table-fixing-attente").appendChild(tr);
          break;
        case ("Fini"):
          document.getElementById("js-table-fixing-fini").appendChild(tr);
          break;
        default:
          document.getElementById("js-table-fixing-atelier").appendChild(tr);
          break;
      }
      //console.log(fixing.status);
      //document.getElementById("js-table-fixing-atelier").appendChild(tr);
      document.querySelector("#" + id + " .js-name").innerHTML = fixing.name;
      switch (fixing.type) {
        case ("PC portable"):
          document.querySelector("#" + id + " .js-type").src = "{{ asset('build/illustrations/PC portable-black.png') }}";
          break;
        case ("PC fixe"):
          document.querySelector("#" + id + " .js-type").src = "{{ asset('build/illustrations/PC fixe-black.png') }}";
          break;
      }
      document.querySelector("#" + id + " .js-model").innerHTML = fixing.model;
      document.querySelector("#" + id + " .js-number").innerHTML = "Dépannage n°" + fixing.id;
      document.querySelector("#" + id + " .js-tech").innerHTML = fixing.tech;
      document.querySelector("#" + id + " .js-status").innerHTML = fixing.status;
      document.querySelector("#" + id + " .js-date").innerHTML = fixing.date;
    }

    function setClass(element) {
      element.classList.add("hide");
    }
    function rmClass(element) {
      element.classList.remove("hide");
    }

    function changeView() {
      if (view == 0) {
        setClass(fini);
        setClass(attente);
        rmClass (atelier);
        view = 1
      } else if (view == 1){
        setClass(fini);
        setClass(atelier);
        rmClass (attente);
        view = 2;
      } else {
        setClass(atelier);
        setClass(attente);
        rmClass (fini);
        view = 0;
      }
    }

    function abortTimer() { // to be called when you want to stop the timer
      clearInterval(tid);
    }

    let tid = setInterval(changeView, 10000);
    let view = 0;
    let atelier = document.getElementById("js-atelier");
    let attente = document.getElementById("js-attente");
    let fini = document.getElementById("js-fini");

    const eventSource = new EventSource("{{ mercure('display')|escape('js') }}");
    eventSource.onmessage = event => {
        // Will be called every time an update is published by the server
        fixing = JSON.parse(event.data);
        switch (fixing.function) {
          case 0:
            addFixing(fixing);
            break;
          case 1:
            removeFixing(fixing);
            break;
          case 2:
            updateStatusFixing(fixing);
            break;
          case 3:
            updateTechfixing(fixing);
            break;
          default:
            console.log(fixing);
            break;
        }
    }
  </script>
{% endblock %}
