{% extends 'base.html.twig' %}

{% block title %}Hello PickUpClientController!{% endblock %}

{% block body %}


    <div class="container">

        <div class="row">
            <h1>Recherche clients</h1>
        </div>

        <div class="d-none d-md-block" style="margin-top:15px !important"></div>
        
        <div class="row">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" id="js-search-clients" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" autofocus>
                    <button class="btn bg-gradient-success mb-0" type="button" id="button-addon2" style="width: 20%; max-width: 100px; min-width: 40px;" onclick="window.location.href = '{{ path('pick_up_client_add', {'id': employee.id}) }}';"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div class="row" style=" position: absolute; width: 83%; z-index: 99;">
            <div class="card shadow-lg p-3 mb-5 bg-body rounded hide" id="display" style="max-height:400px; overflow: scroll;">
                <ul class="list-group" id="js-list-clients">
                    <li class="list-group-item border-0 p-4 mb-2 bg-gray-100 border-radius-lg hide" id="js-template-li">
                        <div class="d-flex flex-column">
                            <h6 class="mb-3 text-sm text-capitalize"></h6>
                            <span class="mb-2 text-xs">Adresse: <span class="text-dark font-weight-bold ms-sm-2"></span></span>
                            <span class="mb-2 text-xs">Email: <span class="text-dark ms-sm-2 font-weight-bold"></span></span>
                            <span class="text-xs">Téléphone: <span class="text-dark ms-sm-2 font-weight-bold"></span></span>
                            <span class="text-xs">Materiel : <span class="text-dark ms-sm-2 font-weight-bold"></span></span>
                        </div>
                        <div class="ms-auto text-end">
                            <a class="btn btn-link text-dark px-3 mb-0" href="'javascript:;'"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-none d-md-block" style="margin-top:20px !important"></div>

        <h5>Dernier clients ajouter :<span class="text-xs text-truncate"> cliquer sur le client pour le selectionner.</span></h5>

        <div class="d-none d-md-block" style="margin-top:20px !important"></div>

        <div class="row">
            {% for client in clients %}
                <div class="col col-md-6 col-lg-3 pointer" style="margin-top:20px !important">
                    <div class="card bg-gradient-light p-3" onclick="window.location.href = '{{ path('pick_up_computer', {'id': employee.id, 'clientId': client.id}) }}';">
                        <div class="card-body pt-0 p-3 text-center">
                            <h6 class="text-center mb-0 text-capitalize text-truncate">{{ client.lastname}} {{ client.firstname }}</h6>
                            <span class="text-md text-truncate"><i class="fa fa-address-card-o" aria-hidden="true"></i> {{ client.address}}</span><br>
                            <span class="text-md text-truncate">{{ client.city}}, {{ client.postcode}}</span><br>
                            <span class="text-md text-truncate"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ client.mail}}</span><br>
                            <span class="text-md text-truncate"><i class="fa fa-phone" aria-hidden="true"></i> {{ client.phone}}</span><br>
                            {% set i = 0 %}
                            {% for computer in client.computers %} 
                                {% set i = i + 1  %}
                            {% endfor %}
                            <span class="text-md text-truncate"><i class="fa fa-desktop" aria-hidden="true"></i> {{ i }} </span><br>
                            <hr class="horizontal dark my-3">
                            <a href="{{ path('pick_up_client_edit', {'id': employee.id, 'clientId': client.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i> Modifier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br/>

    <script>
        function selectClient() {
            window.location.pathname = '/pick-up/{{employee.id}}/' + this.id.substr(6) + '/computer'; 
        }

        function displayResult(data) {
            while (ul.childElementCount > 1) {
                ul.removeChild(ul.lastElementChild);
            }
            data.forEach(client => {
                let li = document.getElementById("js-template-li").cloneNode(true);
                li.className = "list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg pointer js-div-click";
                li.id = 'client' + client.id;
                li.firstElementChild.firstElementChild.innerHTML = client.name;
                li.firstElementChild.firstElementChild.nextElementSibling.firstElementChild.innerHTML = client.address;
                li.firstElementChild.lastElementChild.previousElementSibling.previousElementSibling.firstElementChild.innerHTML = client.mail;
                li.firstElementChild.lastElementChild.previousElementSibling.firstElementChild.innerHTML = client.phone;
                li.firstElementChild.lastElementChild.firstElementChild.innerHTML = client.computers;
                li.lastElementChild.firstElementChild.href = "/pick-up/{{employee.id}}/client/edit/" + client.id;
                ul.appendChild(li);
            });
            divs = document.querySelectorAll('.js-div-click');
            divs.forEach(div => {
                div.addEventListener('click', selectClient);
            });
        }

        function search(){
            if (this.value == ""){
                display.className = "card shadow-lg p-3 mb-5 bg-body rounded hide";
                return;
            }
            display.className = "card shadow-lg p-3 mb-5 bg-body rounded";
            let array = this.value.split(' ');
            let data = JSON.stringify({'data' : array});
            clearTimeout(delayTimer);
            delayTimer = setTimeout(function() {
                let xml = new XMLHttpRequest();
                xml.open("POST", window.location.origin + '/pick-up/client/search');
                xml.setRequestHeader("ContentType", "application/json");
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        result = JSON.parse(xml.response);
                        displayResult(result.data);
                    }
                }
                xml.send(data);
            }, 650);
        }

        let delayTimer;
        let display = document.getElementById('display');
        let input = document.getElementById('js-search-clients');
        input.addEventListener('keyup', search);

        let ul = document.getElementById("js-list-clients");

        let divs;
    </script>

{% endblock %}
