{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeServiceController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Prise en charge</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{{ path('backoffice_service_add') }}"><button class="btn btn-outline-success btn-sm mb-0">ajouter</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3 pb-0">
                                <ul class="list-group">
                                {% for prise_en_charge in prise_en_charges %} 
                                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark font-weight-bold text-sm">* {{prise_en_charge.type}}{{prise_en_charge.number}} - {{prise_en_charge.price}}€</h6>
                                            <span class="text-xs">{{prise_en_charge.name}}</span>
                                        </div>
                                        <div class="d-flex align-items-center text-sm">
                                            <a href="{{ path('backoffice_service_edit', {'id' :  prise_en_charge.id}) }}"><button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o text-lg me-1" aria-hidden="true"></i></button></a>
                                            <button type="button" id="{{ 'remove' ~ prise_en_charge.id }}" class="removeService btn btn-link text-danger text-sm mb-0 px-0 ms-4"><i class="fa fa-trash-o text-lg me-1" aria-hidden="true"></i></button> 
                                        </div>
                                    </li>
                                {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0"><i class="fa fa-wrench" aria-hidden="true"></i> Forfait</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{{ path('backoffice_service_add') }}"><button class="btn btn-outline-success btn-sm mb-0">ajouter</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3 pb-0">
                                <ul class="list-group">
                                {% for forfait in forfaits %} 
                                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark font-weight-bold text-sm">* {{forfait.type}}{{forfait.number}} - {{forfait.price}}€</h6>
                                            <span class="text-xs">{{forfait.name}}</span>
                                        </div>
                                        <div class="d-flex align-items-center text-sm">
                                            <a href="{{ path('backoffice_service_edit', {'id' :  forfait.id}) }}"><button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o text-lg me-1" aria-hidden="true"></i></button></a>
                                            <button type="button" id="{{ 'remove' ~ forfait.id }}" class="removeService btn btn-link text-danger text-sm mb-0 px-0 ms-4"><i class="fa fa-trash-o text-lg me-1" aria-hidden="true"></i></button> 
                                        </div>
                                    </li>
                                {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0"><i class="fa fa-barcode" aria-hidden="true"></i> Materials</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{{ path('backoffice_service_add') }}"><button class="btn btn-outline-success btn-sm mb-0">ajouter</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3 pb-0">
                                <ul class="list-group">
                                {% for material in materials %} 
                                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark font-weight-bold text-sm">* {{material.type}}{{material.number}} - {{material.price}}€</h6>
                                            <span class="text-xs">{{material.name}}</span>
                                        </div>
                                        <div class="d-flex align-items-center text-sm">
                                            <a href="{{ path('backoffice_service_edit', {'id' :  material.id}) }}"><button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o text-lg me-1" aria-hidden="true"></i></button></a>
                                            <button type="button" id="{{ 'remove' ~ material.id }}" class="removeService btn btn-link text-danger text-sm mb-0 px-0 ms-4"><i class="fa fa-trash-o text-lg me-1" aria-hidden="true"></i></button> 
                                        </div>
                                    </li>
                                {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card h-100">
                            <div class="card-header pb-0 p-3">
                                <div class="row">
                                    <div class="col-6 d-flex align-items-center">
                                        <h6 class="mb-0"><i class="fa fa-windows" aria-hidden="true"></i> Logiciel</h6>
                                    </div>
                                    <div class="col-6 text-end">
                                        <a href="{{ path('backoffice_service_add') }}"><button class="btn btn-outline-success btn-sm mb-0">ajouter</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-3 pb-0">
                                <ul class="list-group">
                                {% for logiciel in logiciels %} 
                                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                        <div class="d-flex flex-column">
                                            <h6 class="mb-1 text-dark font-weight-bold text-sm">* {{logiciel.type}}{{logiciel.number}} - {{logiciel.price}}€</h6>
                                            <span class="text-xs">{{logiciel.name}}</span>
                                        </div>
                                        <div class="d-flex align-items-center text-sm">
                                            <a href="{{ path('backoffice_service_edit', {'id' :  logiciel.id}) }}"><button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="fa fa-pencil-square-o text-lg me-1" aria-hidden="true"></i></button></a>
                                            <button type="button" id="{{ 'remove' ~ logiciel.id }}" class="removeService btn btn-link text-danger text-sm mb-0 px-0 ms-4"><i class="fa fa-trash-o text-lg me-1" aria-hidden="true"></i></button> 
                                        </div>
                                    </li>
                                {% endfor %} 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <a href="{{ path('app_backoffice') }}">Retour backoffice</a>
        </main>
        <script>
            function removeService() {
                console.log('ok');
                let serviceId = this.id;
                console.log(serviceId);
                if (window.confirm("Etes vous sur de vouloir supprimer ?")) {
                    console.log("toto");
                    let xml = new XMLHttpRequest();
                    xml.open("GET", "service/remove/"+serviceId.substr(6));
                    xml.onreadystatechange = function() {
                        if(xml.readyState == 4 && xml.status == 200) {
                            alert("Tarif supprimé correctement");
                            window.location.reload();
                        }
                    }
                    xml.send();
                }
            }

            let location_service = window.location.pathname;

            if (location_service === '/backoffice/service') {
                let services  = document.querySelectorAll('.removeService');
                services.forEach(service => {
                    service.addEventListener('click', removeService);
                });
            }
        </script>
    </body>
{% endblock %}
