{% extends 'base.html.twig' %}

{% block title %}Hello BackofficeEmployeeFormController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {{ form(form) }}
        </main>
    </body>
{% endblock %}
