{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeAddProcedureController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            <h1>Création d'une nouvelle procédure</h1>
            <label for="procedureName">Entrer le nom de la procédure</label>
            <input type="text" id="procedureName">
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Nom</th>    
                    </tr>
                </thead>
                <tbody id="procedureElement">
                    <tr class="element">
                        <td>
                            <select>
                                <option value="checkbox" selected>Case à cocher</option>
                                <option value="number">Saisie d'un nombre</option>
                                <option value="text">Saisie d'un texte</option>
                                <option value="boolean">Saisie d'un booléen</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="elementName">
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <button type="button" id="addLine">Ajouter une ligne</button>
            <button type="button" id="removeLine">Supprimer la dernière ligne</button>
            <button type="button" id="save">Sauvegarder la procédure</button>
        </main>
        {% block javascripts %}{{ encore_entry_script_tags('procedure') }}{% endblock %}
    </body>
{% endblock %}
