{% block body %}
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fa fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href="#" target="_blank">
                <img src="{{ asset('build/small-logos/technology.png') }}" alt="user" style="height: 50px;">
                <span class="ms-1 font-weight-bold">Admin microfun88</span>
            </a>
            </div>
            <hr class="horizontal dark mt-0">
            <div class="collapse navbar-collapse  w-auto h-auto " id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link  active" href="{{ path('app_backoffice') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/home-w.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_employee') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/user.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Salarié</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_service') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/prix.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Editer Tarifs</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_account') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/prix.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Compte logiciels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_client') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/client.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Liste Clients</span>
                        </a>
                    </li>
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Dépannage</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_material') }}">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <img src="{{ asset('build/small-logos/give.png') }}" alt="user" style="height: 16px;">
                            </div>
                            <span class="nav-link-text ms-1">Matériel Déposé</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_procedure') }}">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <img src="{{ asset('build/small-logos/checklist.png') }}" alt="user" style="height: 16px;">
                        </div>
                        <span class="nav-link-text ms-1">Editer procédure</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('backoffice_procedure_group') }}">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <img src="{{ asset('build/small-logos/booklist.png') }}" alt="user" style="height: 16px;">
                        </div>
                        <span class="nav-link-text ms-1">Grouper procédures</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidenav-footer m-2 ">
                <a class="btn bg-gradient-primary mt-4 w-100" href="{{ path('home') }}">
                    <img src="{{ asset('build/small-logos/car.png') }}" alt="user" style="height: 30px;">
                    <span class="nav-link-text">Back to the Home</span>
                </a>
            </div>
        </div>
    </aside>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        {% embed "navbar.html.twig" %}{% endembed %}

{% endblock %}