{% block body %}
    
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none" id="navbarBlur" navbar-scroll="true">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5" id="js-navbar">
                    </ol>
                    <h6 class="font-weight-bolder mb-0"> {{ navbar }}</h6>
                </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    
                </div>
                <ul class="navbar-nav  justify-content-end">
                <li class="nav-item d-flex align-items-center">
                    <a href="{{path('app_logout')}}" class="nav-link font-weight-bold px-0 text-body">
                    <i class="fa fa-user me-sm-1" aria-hidden="true"></i>
                    <span class="d-sm-inline d-none">{{ employee.lastname }} {{ employee.firstname }}</span>
                    </a>
                </li>
                </ul>
            </div>
        </nav>

{% endblock %}