{% extends 'base.html.twig' %}

{% block title %}Hello FixingToolController!{% endblock %}

{% block body %}
    <body>
        {% embed "navbar.html.twig" %}{% endembed %}
        <div class="container-fluid">
            <h3>Tools</h3>
            <div class="row">
                
                {# Tool HDD BOX #}
                <div class="col-lg-4">
                    <div class="card shadow-lg mgTop">
                        <div class="card-header pb-2 p-3" style="background-color: #d64c1645 !important;">
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="col-1 d-flex">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="hdd1">
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex" style="margin-left:15px;">
                                        <span> 1 </span><h6 class="mb-0 text-truncate">Test HDD / SSD</h6>
                                    </div>
                                    <div class="col-6" style="margin-left: 20px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control " type="text" id="hdd1Ref" placeholder="ref du dique">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3 hide" id="hdd1body">
                            <div class="form-group">
                                <label for="hddViability" class="form-control-label">Pourcentage disque</label>
                                <input class="form-control" type="number" min=0 max=100 id="hdd1Viability"  style="width: 100%;">
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd1SMART">
                                <label class="form-check-label" for="hddSMART">Erreur SMART</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd1Data">
                                <label class="form-check-label" for="hddData">Données lisible</label>
                            </div>
                        </div>
                    </div>
                </div>
                {# END Tool HDD BOX #}

                {# Tool HDD BOX #}
                <div class="col-lg-4">
                    <div class="card shadow-lg mgTop">
                        <div class="card-header pb-2 p-3" style="background-color: #d64c1645 !important;">
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="col-1 d-flex">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="hdd2">
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex" style="margin-left:15px;">
                                        <span> 2 </span><h6 class="mb-0 text-truncate">Test HDD / SSD</h6>
                                    </div>
                                    <div class="col-6" style="margin-left: 20px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control " type="text" id="hdd2Ref" placeholder="ref du dique">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3 hide" id="hdd2body">
                            <div class="form-group">
                                <label for="hddViability" class="form-control-label">Pourcentage disque</label>
                                <input class="form-control" type="number" min=0 max=100 id="hdd2Viability" name="hdd2Viability" style="width: 100%;">
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd2SMART">
                                <label class="form-check-label" for="hddSMART">Erreur SMART</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd2Data">
                                <label class="form-check-label" for="hddData">Données lisible</label>
                            </div>
                        </div>
                    </div>
                </div>
                {# END Tool HDD BOX #}

                {# Tool HDD BOX #}
                <div class="col-lg-4">
                    <div class="card shadow-lg mgTop">
                        <div class="card-header pb-2 p-3" style="background-color: #d64c1645 !important;">
                            <div class="row">
                                <div class="col-12 d-flex">
                                    <div class="col-1 d-flex">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="hdd3">
                                        </div>
                                    </div>

                                    <div class="col-4 d-flex" style="margin-left:15px;">
                                        <span> 3 </span><h6 class="mb-0 text-truncate">Test HDD / SSD</h6>
                                    </div>
                                    <div class="col-6" style="margin-left: 20px;">
                                        <div class="input-group input-group-sm">
                                            <input class="form-control " type="text" id="hdd3Ref" placeholder="ref du dique">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3 hide" id="hdd3body">
                            <div class="form-group">
                                <label for="hddViability" class="form-control-label">Pourcentage disque</label>
                                <input class="form-control" type="number" min=0 max=100 id="hdd3Viability" style="width: 100%;">
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd3SMART">
                                <label class="form-check-label" for="hddSMART">Erreur SMART</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="hdd3Data">
                                <label class="form-check-label" for="hddData">Données lisible</label>
                            </div>
                        </div>
                    </div>
                </div>
                {# END Tool HDD BOX #}

                {# Tool BOX screw #}
                <div class="col-lg-12">
                    <div class="card shadow-lg mgTop">
                        <div class="card-header pb-2 p-3" style="background-color: #09090945 !important;">
                            <div class="row">
                                <div class="col-md-8 d-flex align-items-center">
                                    <h6 class="mb-0">Boite à vis</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3" style="margin: 8px;">

                            {# boite à vis ligne 1 #}
                            <div class="row">
                                <span class="text-uppercase text-xs font-weight-bold my-2 pointer" id="L1btnHide">Ligne 1 <i class="fa fa-sort-asc" id="arowL1" aria-hidden="true"></i></span>
                            </div>
                            <div class="row" id="L1Hide" style="border: solid; padding-top: 10px; padding-bottom: 10px; border-radius: 12px; background: darkgray;">
                                {# boite à vis ligne 1 case 1 à 6#}
                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 1</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 2</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 3</span>
                                        </div>
                                        <div class="card-body p-3">
                                           
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 4</span>
                                        </div>
                                        <div class="card-body p-3">
                                           
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 5</span>
                                        </div>
                                        <div class="card-body p-3">
                                           
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 6</span>
                                        </div>
                                        <div class="card-body p-3">
                                           
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# END boite à vis ligne 1 case#}
                            </div>
                            {# END boite à vis ligne 1 #}
                            
                            {# boite à vis ligne 2 #}
                            <div class="row">
                                <span class="text-uppercase text-xs font-weight-bold my-2" style="color : lightseagreen;" id="L2btnHide">Ligne 2 <i class="fa fa-sort-asc" id="arowL2" aria-hidden="true"></i></span>
                            </div>
                            <div class="row" id="L2Hide"  style="border: solid lightseagreen; padding-top: 10px; padding-bottom: 10px; border-radius: 12px; background-color: #20b2aab3;">
                                
                                {# boite à vis ligne 2 case 1 à 6 #}
                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 1</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 2</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 3</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 4</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 5</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 6</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# END boite à vis ligne 2 case #}
              
                            </div>
                            {# END boite à vis ligne 2 #}

                            {# boite à vis ligne 3 #}
                            <div class="row">
                                <span class="text-uppercase text-xs font-weight-bold my-2" style="color: darkseagreen;" id="L3btnHide">Ligne 3 <i class="fa fa-sort-asc" id="arowL3" aria-hidden="true"></i></span>
                            </div>
                            <div class="row" id="L3Hide" style="  border: solid darkseagreen ; padding-top: 10px; padding-bottom: 10px; border-radius: 12px; background-color:#8fbc8fb3;">

                                {# boite à vis ligne 3 case 1 à 6 #}
                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 1</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 2</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 3</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 4</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 5</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-4 col-6">
                                    <div class="card shadow-lg mgTop">
                                        <div class="card-header p-0 text-center bg-gray-200">
                                            <span class="text-uppercase text-xs font-weight-bold my-2">Case 6</span>
                                        </div>
                                        <div class="card-body p-3">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea class="form-control" aria-label="With textarea"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {# END boite à vis ligne 3 case #}
              
                            </div>
                            {# END boite à vis ligne 3 #}

                        </div>
                    </div>
                </div>
                {# END Tool BOX screw #}
            
            </div>
            <button type="submit" class="btn btn-primary btn-lg m-4 text-end" id="sendButton">Sauvegarder</button>
        </div>
        <div class="js-json-tool" data-json-tool="{{ tool }}"></div>

        <script>
            function loadTool() {
                for(let i = 1; i < 4; i++) {
                    hdd = 'hdd' + i;
                    if (jsonTool[hdd] != null) {
                        document.querySelector('#hdd'+i).checked = true;
                        document.querySelector('#hdd'+i+'body').classList.toggle("hide");
                        document.querySelector('#hdd'+i+'Ref').value = jsonTool[hdd].ref;
                        document.querySelector('#hdd'+i+'Viability').value = jsonTool[hdd].viability;
                        document.querySelector('#hdd'+i+'SMART').checked = jsonTool[hdd].smart;
                        document.querySelector('#hdd'+i+'Data').checked = jsonTool[hdd].data;
                    }
                }
                for(let i = 1; i < 4; i++) {
                    let line = 'line'+i;
                    let textareas = document.querySelectorAll('#L'+i+'Hide textarea');
                    textareas.forEach((textarea, index) => {
                        textarea.value = jsonTool[line][index];
                    });
                } 
            }

            function saveTool() {
                let data = {};
                let hddCompleted = [];
                for(let i = 1; i < 4; i++) {
                    if(document.querySelector('#hdd'+i).checked)
                        hddCompleted.push(i);
                }
                for(let i = 0; i < hddCompleted.length; i++) {
                    hdd = 'hdd' + hddCompleted[i];
                    data[hdd] = {};
                    data[hdd].ref = document.querySelector('#hdd'+hddCompleted[i]+'Ref').value;
                    data[hdd].viability = document.querySelector('#hdd'+hddCompleted[i]+'Viability').value;
                    data[hdd].smart = (document.querySelector('#hdd'+hddCompleted[i]+'SMART').checked ? 1 : 0);
                    data[hdd].data = (document.querySelector('#hdd'+hddCompleted[i]+'Data').checked ? 1 : 0);
                }
                for(let i = 1; i < 4; i++) {
                    let line = 'line'+i;
                    let textareas = document.querySelectorAll('#L'+i+'Hide textarea');
                    data[line] = [];
                    textareas.forEach((textarea, index) => {
                        data[line].push(textarea.value);
                    });
                }
                //console.log(window.location)

                let xml = new XMLHttpRequest();
                
                xml.open("POST", window.location + "/save");
                xml.onreadystatechange = function() {
                    if(xml.readyState == 4 && xml.status == 200) {
                        alert("Outils enregistré");
                        //window.location.reload();
                    }
                }
                xml.send(JSON.stringify([data]));
            }

            let btn1 = document.getElementById("L1btnHide");
            let btn2 = document.getElementById("L2btnHide");
            let btn3 = document.getElementById("L3btnHide");

            let hide1 = document.getElementById("L1Hide");
            let hide2 = document.getElementById("L2Hide");
            let hide3 = document.getElementById("L3Hide");

            let arowL1 = document.getElementById("arowL1");
            let arowL2 = document.getElementById("arowL2");
            let arowL3 = document.getElementById("arowL3");

            let hhd1 = document.getElementById("hdd1");
            let hdd1body = document.getElementById("hdd1body");
            let hhd2 = document.getElementById("hdd2");
            let hdd2body = document.getElementById("hdd2body");
            let hhd3 = document.getElementById("hdd3");
            let hdd3body = document.getElementById("hdd3body");

            btn1.onclick = function(){
                hide1.classList.toggle("hide");
                arowL1.classList.toggle("fa-sort-desc");
                arowL1.classList.toggle("fa-sort-asc");
            }
            btn2.onclick = function(){
                hide2.classList.toggle("hide");
                arowL2.classList.toggle("fa-sort-desc");
                arowL2.classList.toggle("fa-sort-asc");
            }
            btn3.onclick = function(){
                hide3.classList.toggle("hide");
                arowL3.classList.toggle("fa-sort-desc");
                arowL3.classList.toggle("fa-sort-asc");
            }

            hdd1.onclick = function(){
                hdd1body.classList.toggle("hide");
            }
            hdd2.onclick = function(){
                hdd2body.classList.toggle("hide");
            }
            hdd3.onclick = function(){
                hdd3body.classList.toggle("hide");
            }

            let sendButton = document.querySelector("#sendButton");
            sendButton.addEventListener('click', saveTool);

            let jsonTool = JSON.parse(document.querySelector('.js-json-tool').dataset.jsonTool);
            console.log(jsonTool);
            if (!Array.isArray(jsonTool))
                loadTool();
        </script>
    </body>
{% endblock %}

