{% extends 'base.html.twig' %}

{% block title %}Hello FixFixingServiceController!{% endblock %}

{% block body %}
    <div id="marging">{% embed "navbar.html.twig" %}{% endembed %}</div><!-- appel du menu via la page navbar -->
    {{ form(form) }}
{% endblock %}
