{% extends 'base.html.twig' %}

{% block title %}Hello BackofficeEmployeeController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for employee in employees %}
                {{ employee.lastname }} {{ employee.firstname }} {{ employee.roles[0] }}
                <br>
                <a href="{{ path('backoffice_employee_edit', {'id' : employee.id}) }}">Modifier</a>
                <button id="{{ 'remove' ~ employee.id }}" class="removeEmployee">Supprimer</button>
                <br>
            {% endfor %}

            <br/>
            <a href="{{ path('backoffice_employee_add') }}">add_employee</a>
            <br>
            <br>
            <a href="{{ path('app_backoffice') }}">Retour backoffice</a>
        </main>

        <script>
            function removeEmployee() {
                let employeeId = this.id;
                if (confirm("Etes vous sur de vouloir supprimer ?")) {
                    let xml = new XMLHttpRequest();
                    xml.open("GET", "employee/remove/"+employeeId.substr(6));
                    xml.onreadystatechange = function() {
                        if(xml.readyState == 4 && xml.status == 200) {
                            alert("Salarié supprimé correctement");
                            window.location.reload();
                        }
                    }
                    xml.send();
                }
            }

            let employees  = document.querySelectorAll('.removeEmployee');
            employees.forEach(employee => {
            employee.addEventListener('click', removeEmployee);
            });
        </script>
{% endblock %}
