{% extends 'base.html.twig' %}

{% block title %}Hello BackOfficeProcedureGroupController!{% endblock %}

{% block body %}
    <body class="g-sidenav-show  bg-gray-100">
        {% embed "backofficeMenu.html.twig" %}{% endembed %}
            {% for procedure_group in procedure_groups %}
                <h2>{{ procedure_group.name }}</h2>
                <p>
                    {% for procedure in procedure_group.procedures %}
                        {{ procedure.name }}
                    {% endfor %}
                    <a href="{{ path('backoffice_procedure_group_edit', {'id' : procedure_group.id}) }}">Modifier</a>
                </p>
                <a href="{{ path('backoffice_procedure_group_procedure_order', {'id' : procedure_group.id}) }}">Modifier l'ordre des procédures</a>
                <a href="{{ path('backoffice_procedure_group_remove', {'id' : procedure_group.id}) }}">Supprimer le groupe</a>
            {% endfor %}
            <br>
            <br>
            <br>
            <br>
            <a href="{{ path('backoffice_procedure_group_add') }}">Ajouter</a>
            <br>
            <br>
            <a href="{{ path('app_backoffice') }}">Retour backoffice</a>
        </main>
    </body>
{% endblock %}
