{% extends 'base.html.twig' %}

{% block title %}Hello PickUpAccountController!{% endblock %}

{% block body %}
<div class="container">
<h1>Compte logiciel</h1>
<br>
    {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.label) }}</label>
                {{ form_widget(form.label) }}
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.login) }}</label>
                {{ form_widget(form.login) }}
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.password) }}</label>
                {{ form_widget(form.password) }}
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>{{ form_label(form.moreInfo) }}</label>
                {{ form_widget(form.moreInfo) }}
           </div>
        </div
        <div class="col-md-12">
            {{ form_widget(form.envoyer) }}
        </div>
        {{ form_end(form) }}
</div>
{% endblock %}
