
/*class pointer custum  */
/* documentation : https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor */

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

.card-input-element {
    display: none;
}

.card-input:hover {
    cursor: pointer;
}

.card-input-element:checked + .card-input {
     box-shadow: 0 0 5px 5px #2ecc71 !important;
}

.hide {
    display: none !important;
}

#css-att-success:hover{
    color : #82d616 !important;
}

#css-att-danger:hover{
    color : #ea0606 !important;
}

.css-bg-danger{
    background: linear-gradient(90deg, rgba(255,90,90,0.6349133403361344) 0%, rgba(255,107,73,0.6573223039215687) 48%, rgba(255,148,69,0.517266281512605) 100%);
}
.css-bg-warning{
    background: linear-gradient(90deg, rgba(255,166,90,0.6349133403361344) 0%, rgba(251,158,22,0.6573223039215687) 48%, rgba(255,226,69,0.517266281512605) 100%);
}

.search-container {
    position: absolute;
    z-index: 99;
    max-height: 200px !important;
    overflow: scroll;
    width: max-content;
}

.opacity{
    opacity: 0.2;
}

.warantyBox{
    position:  absolute;
    z-index: 10;
    margin: 22% 17%;
    background-color: #fddf86d1;
    border-radius: 7px;
    padding: 10px 80px;
    border: 3px #ffd65c solid;
}

.warantyI{
    font-size: 40px !important;
    color: #ffa700 !important;
    margin-top: 10px;
    margin-left: 36px;
}

.warantyP{
    font-size: 28px;
    color: #b79203;
    text-align: center;
    margin-top: 6px;
}

.fixingBox{
    position: absolute;
    z-index: 10;
    margin: 22% 20%;
    background-color: #a8ec51ba;
    border-radius: 7px;
    padding: 10px 80px;
    border: 3px #669f1d solid;
}

.fixingI{
    font-size: 40px !important;
    color: #5a7d2c !important;
    margin-top: 10px;
    margin-left: 26px;
}

.fixingP{
    font-size: 28px;
    color: #669f1d;
    text-align: center;
    margin-top: 6px;
}

.toast{
    position: absolute;
    width: 28%;
    z-index: 10;
    margin-top: 18px;
    padding: 15px;
    margin-left: 32%;
}

.mgTop{
    margin-top: 10px;
}